/* Lightbox */

#lightbox-header {
    top: 2em;
    left: 2em;
    right: 2em;
}

#lightbox {
    top: 4em;
    left: 2em;
    right: 2em;
    bottom: 2em;
}

#preview {
    margin-top: 1em;
    text-align: center;
}

#select-item,
.widget {
    margin-bottom: 1em;
}

label {
    display: block;
}
