.block .block-inner > * {
}

/* Textareas not inline */

#edit-form-article-content .widget-outer {
  display:block;
  clear:both;
}

/* editor blocks */

#editable-body {
  /*margin-left: 3em;*/
}

#editable-body .editable {
    font-family: Georgia,Palatino,Palatino Linotype,FreeSerif,serif;
    font-size: 16px;
    line-height:1.5em;
}

#editor-forms div div.edit-bar {
    margin: 0 0 4px 0px;
    background: none 0;
}

#editor-forms div div.edit-bar a{
    margin:4px;
    margin-top:1px;
}

#article-form-workflow.folded,
#article-form-assets.folded,
#article-form-metadata.folded {
 border-bottom:0;

}

#edit-form-article-content #article-content-head.title, #edit-form-article-content #article-content-head.subtitle {
   font-size:16px;
}

#edit-form-article-content .block-inner {
  padding-bottom: 20px;
}

#edit-form-filename .widget-outer,
#edit-form-filename .widget {
    margin: 0;
}

.article-editor-inner
  .block.zeit-content-article-edit-interfaces-IParagraph 
  .edit-bar {
  visibility: hidden;
}

.article-editor-inner
  .block.zeit-content-article-edit-interfaces-IParagraph 
  .block-inner {
  border-color: transparent;
}

.article-editor-inner .block:hover .edit-bar,
.article-editor-inner .block.editing .edit-bar {
  visibility: visible;
}

.article-editor-inner .block:hover .block-inner,
.article-editor-inner .block.editing .block-inner {
  border-color: #bbbbbb;
}

.article-editor-inner .edit-bar > a {
  height: 10px;
  margin:0;
  padding:0;
  margin-top:1px;
  margin-right:2px;
}

.edit-bar {
    margin:0;
}

.article-editor-inner .edit-bar > .delete-link {
  background-image: url('delete.png');
}

.article-editor-inner .dragger .center {
  height: 12px;
}

.article-editor-inner .editing .edit-bar > a {
  display: none;
}

#article-editor-text .block,
#article-editor-text .landing-zone {
  margin-left: 0em;
}

#article-editor-text .landing-zone a {
  color: #333;
  vertical-align: baseline;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: Arial, Helvetica, sans-serif;
  line-height:1.5em;
  -moz-appearance:button;
}

#article-editor-text .landing-zone a:before {
  content:"|";
  color: rgba(255, 255, 255, 0);
}

#article-editor-text .landing-zone a:after {
  content:"|";
  color: rgba(255, 255, 255, 0);
}

#article-editor-text #editable-body .block-inner{
  padding-top:0px !important;
}

#article-editor-text #editable-body .block-inner .edit-bar {
  padding-top:0px !important;
}

#article-editor-text .block-inner .edit-bar {
  background: -moz-linear-gradient(center top , #FFFFFF, #EDEDED) repeat scroll 0 0 transparent;
}

.article-text {
  margin: 10px;
}

.editable-area > .landing-zone {
  height: 4px;
}

span.charcount {
  color: #777;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  right: 30px;
}

span.charcount-bottom {
  bottom: 0;
}

/* Editable blocks */

.block-inner{
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  font-size:12px;
  margin: 0 10px;
  padding: 5px 10px;
  position: relative;
}

.block-inner .totop {
  background: none repeat scroll 0 0 #CCCCCC;
  border-radius: 0 0 5px 0;
  bottom: 0;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  height: 15px;
  line-height: 20px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 20px;
}

.block-inner .totop:hover {
  background: none repeat scroll 0 0 #666666;
}

#edit-form-filename .block-inner .totop {
  display: none;
}

/* Diver */

#edit-form-diver fieldset {
  margin: 0;
  padding: 10px;
}

#edit-form-diver textarea {
  background: none;
  border: none;
  font-size: 14px;
  height: 4em;
  margin-top: -1em;
  width: 181%;
}

#memo-diver {
  background: #FFF799;
  border-bottom: 1px solid #CCC;
  display: none;
}

#memo-diver label {
  visibility: hidden;
}

#edit-form-diver h2 {
  border-bottom: 1px dotted #999999;
  color: #999999;
  display: block;
  font-weight: normal;
  margin-bottom: 5px;
  width: 100%;
  text-transform: none;
}

#memo-diver-button {
  background: none repeat scroll 0 0 #FFF799;
  color: #333333;
  right: 150px;
}

/* for the RTE-Toolbar */
#article-editor-text .editing p:last-child {
  min-height:141px;
}

#editable-body .block-inner {
  overflow: visible;
}

.block-inner > form:first-of-type {
  padding-top:5px;
}

.block-inner > *:last-child {
  padding-bottom:5px;
}

.block-inner h3{
  font-size:24px;
}

.block-inner p,
.block-inner h3 {
 padding-left:10px;
 margin:0;
}

.editing .block-inner p,
.editing .block-inner h3{
  margin-top:41px;
}

.editing .block-inner ul {
  margin-top:41px;
  margin-bottom:57px;
}


.editing .editable > * {
}

.editing .editable > *:first-child {
  margin-top: 0em;
}

.rte-toolbar {
  background-color: #f0f0ee;
  border :1px solid #cccccc;
  left: -22px;
  position: absolute;
}

.rte-toolbar > a {
  background: url("rte-icons.gif") no-repeat 20px 20px;
  display: block;
  height: 20px;
  text-align: center;
  width: 20px;
}

.rte-toolbar > a[href='bold'] {
  background-position: 0 0;
  color: transparent;
}

.rte-toolbar > a[href='italic'] {
  background-position: -60px 0;
  color: transparent;
}

.rte-toolbar > a[href='insertunorderedlist'] {
  background-position: -20px 0;
  color: transparent;
}

.rte-toolbar > a[href='insertorderedlist'] {
  background-position: -80px 0;
  color: transparent;
}

.rte-toolbar > a[href='insert_link'] {
  background: url('world_link.png') no-repeat 2px 2px;
  color: transparent;
}

.rte-toolbar > a[href='unlink'] {
  background: url('world_delete.png') no-repeat 2px 2px;
  color: transparent;
}

.rte-toolbar a:hover, 
.rte-toolbar a.active {
  outline: 1px solid #0A246A;
  background-color:#C2CBE0;
}

.editable *:empty:before {
  color: #ccc;
}

.editable p:empty:before,
.editable h3:empty:before {
  content: "Geben Sie hier Text ein.";
}

.editable ul:empty:before,
.editable ol:empty:before {
  content: "Geben Sie hier eine Liste ein.";
}

.editable p:empty:before {
  content: "Geben Sie hier Text ein.";
}

.editing .editable *:empty:before {
  content: "";
}

/* Video block layouts */

.block.type-video .video-image {
  width: 25%;
  float: left;
}

.block.type-video .video-title {
  display: none;
}

.block.type-video .video-image img {
  width: 100%;
}

.block.type-video .video_2 img {
  opacity: 0.5;
}

.block.type-video .large .video-image {
  width: 50%;
}

.block.type-video .double .video_2 img {
  opacity: 1;
}

.block.type-video .with-links .video-title {
  clear: both;
  display: block;
}


/* xml block */
.block.type-raw .rawxml {
  font-family: monospace;
  font-size: 80%;
  white-space: pre-wrap;
}

/* citation block */

.block.type-citation .citation {
  float: left;
  width: 50%;
}

.block.type-citation .citation > * {
  padding: 0 0.5em;
}

.block.type-citation .citation .attribution {
  font-style: italic;
}

.block.type-citation .citation.citation_2 {
  opacity: 0.5;
}

.block.type-citation .double .citation.citation_2 {
  opacity: 1;
}

/* imitate table design */
fieldset.table .widget-outer {
  clear: both;
}

fieldset.table .label {
  width: 20em;
}

#edit-form-filename fieldset.table .label {
  width: 10em;
}

fieldset.table label {
  font-weight: bold;
}

fieldset.table .widget {
  clear: none;
  margin: 0;
}

dl.errors dt {
  float: left;
  clear: left;
  margin-right: 0.5em;
}

/* Log Expander */

button.log-expander {
    clear: both;
    float: left;
}
