[buildout]
develop = .
base-parts = libxml2 libxslt lxml
             openldap python-ldap
             zodb database zeo test cms ctl
parts = ${buildout:base-parts}

find-links = http://uter.gocept.com/~ctheune/download.zope.org/distribution/
             http://uter.gocept.com/mirror/

versions = development-versions

[development-versions]
PIL = 1.1.6
RestrictedPython = 3.4.2
ZConfig = 2.5
ZODB3 = 3.8.0-r83744
decorator = 2.2.0
docutils = 0.4
gocept.cache = 0.2.2
gocept.fckeditor = 2.4-r5071
gocept.form = 0.7.2
gocept.lxml = 0.2.1
gocept.mochikit = 1.3.2
iso8601 = 0.1.3
ldapadapter = 0.7.dev-r82228
ldappas = 0.7.dev-r77031
lxml = 2.0.1
python_cjson = 1.0.5
python_ldap = 2.3
pytz = 2008a
rwproperty = 1.0-r39619
sprout = 0.9dev-r27714
z3c.etestbrowser = 1.0.4
z3c.flashmessage = 1.0
z3c.menu.simple = 0.5.1
z3c.pagelet = 1.0.2
z3c.traverser = 0.1.3
zc.datetimewidget = 0.6.1dev-r72453
zc.form = 0.1.1
zc.i18n = 0.6.1dev-r72454
zc.resourcelibrary = 1.0.1
zc.set = 0.1dev-r75642
zc.sourcefactory = 0.3.1
zc.table = 0.7dev-r72459
zdaemon = 2.0.0
zodbcode = 3.4.0
zope.annotation = 3.4.0
zope.app.apidoc = 3.4.3
zope.app.applicationcontrol = 3.4.1
zope.app.appsetup = 3.4.1
zope.app.authentication = 3.4.1
zope.app.basicskin = 3.4.0
zope.app.broken = 3.4.0
zope.app.catalog = 3.5.1
zope.app.component = 3.4.1
zope.app.container = 3.5.3
zope.app.content = 3.4.0
zope.app.debug = 3.4.0
zope.app.dependable = 3.4.0
zope.app.error = 3.5.1
zope.app.exception = 3.4.1
zope.app.file = 3.4.2
zope.app.folder = 3.4.0
zope.app.form = 3.4.1
zope.app.generations = 3.4.1
zope.app.http = 3.4.1
zope.app.i18n = 3.4.4
zope.app.interface = 3.4.0
zope.app.intid = 3.4.1
zope.app.keyreference = 3.4.1
zope.app.locales = 3.4.0
zope.app.locking = 3.4.0
zope.app.onlinehelp = 3.4.1
zope.app.pagetemplate = 3.4.0
zope.app.preference = 3.4.1
zope.app.principalannotation = 3.4.0
zope.app.publication = 3.4.3
zope.app.publisher = 3.5.0a4
zope.app.renderer = 3.4.0
zope.app.rotterdam = 3.4.1
zope.app.schema = 3.4.0
zope.app.security = 3.4.0
zope.app.securitypolicy = 3.4.6
zope.app.server = 3.4.0
zope.app.session = 3.5.1
zope.app.skins = 3.4.0
zope.app.testing = 3.4.0b1-r76117
zope.app.tree = 3.4.0
zope.app.twisted = 3.4.0
zope.app.wsgi = 3.4.0
zope.app.zapi = 3.4.0a1
zope.app.zcmlfiles = 3.4.3
zope.app.zopeappgenerations = 3.4.0
zope.cachedescriptors = 3.4.0
zope.component = 3.4.0
zope.configuration = 3.4.0
zope.contentprovider = 3.4.0
zope.contenttype = 3.4.0
zope.copypastemove = 3.4.0
zope.datetime = 3.4.0
zope.deferredimport = 3.4.0
zope.deprecation = 3.4.0
zope.dottedname = 3.4.0
zope.dublincore = 3.4.0
zope.event = 3.4.0
zope.exceptions = 3.4.0b1
zope.filerepresentation = 3.4.0
zope.formlib = 3.4.0
zope.hookable = 3.4.0
zope.i18n = 3.4.0
zope.i18nmessageid = 3.4.3
zope.index = 3.4.1
zope.interface = 3.4.0
zope.lifecycleevent = 3.4.0
zope.location = 3.4.0
zope.modulealias = 3.4.0
zope.pagetemplate = 3.4.0
zope.proxy = 3.4.0
zope.publisher = 3.5.0
zope.schema = 3.5.0a1.dev-r79215
zope.security = 3.4.0
zope.securitypolicy = 3.4.0
zope.sendmail = 3.4.0
zope.server = 3.5.0a2
zope.session = 3.4.1
zope.size = 3.4.0
zope.structuredtext = 3.4.0
zope.tal = 3.4.1
zope.tales = 3.4.0
zope.testbrowser = 3.4.0
zope.testing = 3.5.1
zope.thread = 3.4
zope.traversing = 3.5.0a3
zope.viewlet = 3.4.2
zope.xmlpicle = 3.4.0


[app]
recipe = zc.zope3recipes:application
eggs = zeit.cms
servers = zserver

site.zcml =
  ${app:base.zcml}
  <include package="zeit.connector" file="${app:connector}.zcml" />

base.zcml =
  <include package="zeit.cms" />
  <include package="zeit.cms.browser" />

  <include package="zeit.cms" file="securitypolicy.zcml" />

  <principal
    id="zope.manager"
    title="Manager"
    login="${app:admin-user}"
    password="${app:admin-password}"
    />

  <grant
    role="zope.Manager"
    principal="zope.manager"
    />

  <include package="zeit.ldap" />

  <include package="zeit.workflow" />
  <include package="zeit.workflow.browser" />

  <include package="zeit.content.article" />
  <include package="zeit.content.article.browser" />
  
  <include package="zeit.content.centerpage" />
  <include package="zeit.content.centerpage.browser" />

  <include package="zeit.content.image" />
  <include package="zeit.content.image.browser" />

  <include package="zeit.wysiwyg" />
  <include package="zeit.wysiwyg.browser" />
  
  <include package="zeit.xmleditor" />
  <include package="zeit.xmleditor.browser" />
  
  <include package="zeit.calendar" />
  <include package="zeit.calendar.browser" />

  <include package="zeit.search" />
  <include package="zeit.search.browser" />
  <utility
    factory="zeit.search.search.ZeitSearch"
    name="dwds"
    />
  <utility
    factory="zeit.search.search.MetadataSearch"
    name="metadata"

    />
  <include package="zeit.content.gallery" />
  <include package="zeit.content.gallery.browser" />

  <include package="zeit.content.link" />
  <include package="zeit.content.link.browser" />

  <include package="zeit.content.infobox" />
  <include package="zeit.content.infobox.browser" />

  <include package="zeit.ghost" />
  <include package="zeit.seo" />
  <include package="zeit.today" />

product-config = 
    <product-config zeit.connector>
      document-store ${app:document-store}
      document-store-search ${app:document-store-search}
    </product-config>

    <product-config zeit.cms>
      source-serie ${app:source-serie}
      source-ressort ${app:source-ressort}
      source-print-ressort ${app:source-print-ressort}
      source-keyword ${app:source-keyword}

      preview-prefix ${app:preview-prefix}
      live-prefix ${app:live-prefix}
      development-preview-prefix ${app:development-preview-prefix}
      workingcopy-preview-base ${app:workingcopy-preview-base}
    </product-config>

    <product-config zeit.search>
      xapian-url ${app:xapian-url}
      dwds-url ${app:dwds-url}
    </product-config>

    <product-config zeit.ldap>
      host ${app:ldap-host}
      port ${app:ldap-port}
      bind-dn ${app:ldap-bind-dn}
      bind-password ${app:ldap-bind-password}
      search-base ${app:ldap-search-base}
      search-scope ${app:ldap-search-scope}
      title-attribute ${app:ldap-title-attribute}
      id-attribute ${app:ldap-id-attribute}
      login-attribute ${app:ldap-login-attribute}
    </product-config>

    <product-config zeit.content.article>
      source-book-recession-categories ${app:book_recession_categories}
    </product-config>

    <product-config zeit.today>
      today-xml-url ${app:today-xml-url}
    </product-config>
      

connector = mock-connector

admin-user = admin
ldap-host = localhost
ldap-port = 389
ldap-bind-dn = dc=gocept,dc=com
ldap-search-base = ou=People,dc=gocept,dc=com
ldap-search-scope = sub
ldap-title-attribute = cn
ldap-login-attribute = sAMAccountName
ldap-id-attribute = sAMAccountName

source-serie = http://zip6.zeit.de:9000/cms/forms/serie.xml
source-ressort = http://zip6.zeit.de:9000/cms/forms/ressort.xml
source-print-ressort = http://zip6.zeit.de:9000/cms/forms/print-ressort.xml
source-keyword = http://xml.zeit.de/themen/zeit-ontologie-prism.xml
xapian-url = http://suche.zeit.de/fluche
dwds-url = http://217.13.68.176/cgi-bin/zeit/search.py

# Preview URLs
preview-prefix = http://zip6.zeit.de/preview
live-prefix = http://www.zeit.de
development-preview-prefix = http://zip6.zeit.de/preview-devel
workingcopy-preview-base = http://xml.zeit.de/test/preview/ 

# Article
book_recession_categories = http://zip6.zeit.de:9000/cms/forms/literatur_categorys.xml

# click counting
today-xml-url = http://zip6.zeit.de:9000/cms/import/clicks/today.xml

[zodb]
recipe = zc.recipe.egg:script
eggs = ZODB3

[database]
recipe = zc.recipe.filestorage
blob-dir = ${buildout:directory}/parts/database/blobs
object-cache-size = 5000
client-cache-size = 209715200

[zeo]
recipe = zc.zodbrecipes:server
deployment = deployment
address = 8100
zeo.conf =
   <zeo>
    address ${zeo:address}
   </zeo>
   <blobstorage 1>
     blob-dir ${database:blob-dir}
     <filestorage>
        path ${database:path}
     </filestorage>
   </blobstorage>

pack = 34 3 * * * 7


[cms]
recipe = zc.zope3recipes:instance
application = app
deployment = deployment
address = 0.0.0.0:8080
zope.conf =
    <zodb>
      cache-size ${database:object-cache-size}
      <zeoclient>
        cache-size ${database:client-cache-size}
        blob-dir ${database:blob-dir}
        shared-blob-dir yes
        server ${zeo:address}
      </zeoclient>
    </zodb>

    ${app:product-config}


[ctl]
recipe = gocept.ctl
scripts = ${deployment:rc-directory}/zeit.cms-zeo ${deployment:rc-directory}/zeit.cms-cms

[test]
recipe = zc.recipe.testrunner
eggs = zeit.cms [test]
defaults = ['--tests-pattern', '^f?test$', 
            '-v', '-c']

[deployment]
name=zeit.cms
recipe=gocept.recipe.deploymentsandbox

# XML libraries

[libxml2]
recipe = zc.recipe.cmmi
url = http://ftp.gnome.org/pub/GNOME/sources/libxml2/2.6/libxml2-2.6.30.tar.gz
extra_options = --without-python

[libxslt]
recipe = zc.recipe.cmmi
url = http://ftp.gnome.org/pub/GNOME/sources/libxslt/1.1/libxslt-1.1.22.tar.gz
extra_options = --with-libxml-prefix=${buildout:directory}/parts/libxml2/ 
                --without-python


[lxml-environment]
PATH=${buildout:directory}/parts/libxslt/bin:%(PATH)s

[lxml]
recipe = zc.recipe.egg:custom
egg = lxml
include-dirs = ${buildout:directory}/parts/libxml2/include/libxml2
               ${buildout:directory}/parts/libxslt/include
library-dirs = ${buildout:directory}/parts/libxml2/lib
               ${buildout:directory}/parts/libxslt/lib
rpath = ${buildout:directory}/parts/libxml2/lib
        ${buildout:directory}/parts/libxslt/lib
environment = lxml-environment



# LDAP authentication connectivity

[openldap]
recipe = zc.recipe.cmmi
url = http://www.openldap.org/software/download/OpenLDAP/openldap-release/openldap-2.3.38.tgz 
extra_options= --disable-slapd --disable-backends


[python-ldap]
recipe = zc.recipe.egg:custom
egg = python-ldap
include-dirs = ${buildout:directory}/parts/openldap/include
               /sw/include/sasl
library-dirs = ${buildout:directory}/parts/openldap/lib
rpath = ${buildout:directory}/parts/openldap/lib
