.recension {
   margin: 1.5em 0;
}

.RecensionTitle {
   font-size: 120%;
   font-weight: bold;
}

.recension dl {
   margin: 0.5em 0;
}
.recension dt {
   font-weight: bold;
   float: left;
   margin-right: 1em;
}
