#cp-content > .cp-content.inner > .cp-editor-top {
  width: 100%;
}


#lead-outer {
  width: 64%;
  float: left;
}

#informatives-outer {
  width: 36%;
  float: left;
}

#informatives-outer #informatives {
  margin-top: 4.2em;
}

#teaser-mosaic {
  clear: both;
}



/* When there is no "other" edit, we show the common. */
.edit-bar > a.common-link:first-child {
  background-image: url('page.png');
  display: block;
  padding-right: 0.5em;
}


.edit-bar > .edit-teaser-link {
  background-image: url('edit-teaserlist-contents.png');
}

.edit-bar > .countings-link {
  float: right;
  font-size: 80%;
  width: auto;
}

.edit-bar > .rss-refresh-link {
  background-image: url('reload.png');
}

.edit-bar > .delete-link > .confirm-delete {
  background-color: white;
  border: 2px solid red;
  color: red;
  opacity: 0;  /* will be blended in by JS */
  position: relative;
  right: 7em;
  text-align: center;
  top: -0.1em;
  width: 6em;
  z-index: 3;
}

.edit-bar.column-separator {
  -moz-border-radius: 1em;
  border: 1px solid black;
  font-size: 0.5em;
  margin: auto;
  text-align: center;
  width: 80%;
}

#confirm-delete-overlay {
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.edit > .delete-link > .confirm-delete > a {
  color: red;
  text-transform: uppercase;
  display: block;

}

.edit-bar {
  background-color: #f2f2f2;
}

.type-teaser-bar > .block-inner > .block {
  float: left;
  width: 25%;
}

.type-teaser-bar > .block-inner > .block > .block-inner {
  margin: 1.5em 0.5em;
  padding-bottom: 2em;
}

.type-teaser-bar > .block-inner > .block > .block-inner > .edit {
  bottom: 1.25em;
  left: 1em;
  right: 1em;
}

.block-inner {
  background-color: white;
}

.type-teaser-bar > .block-inner {
  background-color: #fff;
}

.block.type-blocked {
    position: absolute;
    right: 0.5em;
}

.block.type-blocked > .block-inner {
  background-color: transparent;
  text-align: center;
}

.block.type-blocked > .block-inner > * {
  margin: 3em;
}

.block.type-blocked.mr {
  width: 49%;
}

.block.type-blocked.dmr {
  width: 74%;
}

/* dragger */

.dragger {
  margin: 0 10px;
  z-index: -1;
}

#edit-form-article-content .dragger {
  margin: -15px 10px;
}

.dragger > .center {
  height: 20px;
  cursor: move;
}


/* placeholder */

.block.type-placeholder > .block-inner {
  border-style: dashed;
}

.block.type-placeholder > .block-inner > * {
  margin: 1.5em;
}

.block.type-placeholder > .block-inner > .choose-block {
  background: #f2f2f2;
  border: 1px solid black;
  display: block;
  text-align: center;
  padding: 3em 1em;
}


/* Teaser block */

.autopilot-chooser {
  bottom: 1.2em;
  cursor: pointer;
  display: block;
  height: 1em;
  margin-bottom: 0.8em;
  padding: 0.3em;
  position: absolute;
  right: 1em;
  width: 6em;
}

.autopilot-on > * {
  background-color: #d7ffda;
}

.autopilot-off > * {
  background-color: #fff1d3;
}

.autopilot-not-possible .autopilot-chooser {
  display: none;
}

.autopilot-on .autopilot-chooser {
  background: url('autopilot-on.png') no-repeat right;
}

.autopilot-off .autopilot-chooser {
  background: url('autopilot-off.png') no-repeat right;
}

.teaser-block-properties-form table.form-fields {
  width: 100%;
}

.teaser-block-properties-form .form-fields td.label {
  width: 25%;
}

.teaser-block-properties-form .form-fields td.field {
  width: 75%;
}


.teaser-block-properties-form .object-reference {
  width: 80%
}

/* Teaser visualisations */

.block.type-teaser .teaser-contents {
  min-height: 5em;
  margin: 1em;
}

.block.type-teaser .teaser {
  font-size: 0.8em;
}  

.block.type-teaser .teaser-contents > img {
  display: block;
}

.block.type-teaser .teaser > .supertitle {
  color: #990000;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}
.block.type-teaser .teaser > .teaserTitle {
  display: inline;
  font-weight: normal;
}
.block.type-teaser .teaser > .teaserText {
  display: none;
}


.block.type-teaser .ressort .teaser:first-child > .supertitle {
  display: none;
}

.block.type-teaser .teaser:first-child > .teaserTitle {
  display: block;
  font-weight: bold;
  margin-bottom: 0.6em;
}

.block.type-teaser .teaser:first-child > .teaserText {
  display: block;
  margin-bottom: 0.6em;
}

.block.type-teaser .teaser:first-child,
.block.type-teaser .teaser-contents > img {
  cursor: move;
}
  
.leader-two-columns > img,
.leader > img,
.ressort > img {
  width: 100%;
}

.buttons > img {
  float: left;
  margin: 0.5em 1em 0.5em 0;
  width: 20%;
}

.leader-two-columns .teaser-list {
  float: left;
  width: 45%;
}

/* layout chooser */

.layout-chooser.teaser {
  margin: 0.5em;
}

.layout-chooser > .layout-inner {
  position:relative;
  border:1px solid #CCCCCC;
  float:left;
  width: 32%;
  height: 22em;
  margin:0 1% 1em 0;
  overflow: hidden;
}

.layout-chooser.teaserbar > .layout-inner {
  height: 10em;
}
	
.layout-chooser > .layout-inner > a {
  display: block;
  margin: 0;
  opacity: 0.5;
}

.layout-chooser > .layout-inner > a.selected,
.layout-chooser > .layout-inner > a:hover {
  opacity: 1;
  background-color: inherit;
}


.layout-chooser > .layout-inner > a > img {
  border: none;
  display:block;
  left: 0em;
  margin: auto;
  position: absolute;
  right: 0em;
  top: 4em;
  width: 90%;
}

.layout-chooser > .layout-inner > a > span {
  background-color: #CCCCCC;
  display:block;
  height: 3em;
  margin-top: 0;
  padding: 3px;
  position:absolute;
  width: 100%;
}

.lightbox-header .CloseButton {
background:transparent url(close.png) no-repeat 0 0 !important;
margin-top: 4px;

}

/* Teaser list editing */

.teaser-list-edit-box > ol {
  list-style: none;
  padding: 0;
}

.teaser-list-edit-box > ol > li {
  clear: both;
  display: block;
  height: 1.1em;
  padding: 0.4em 0.5em;
}

.teaser-list-edit-box > ol > li.even {
  background-color: #f2f2f2;
}

.teaser-list-edit-box > ol > li > div {
  cursor: move;
}

/* XML block */

.xml-block {
  overflow: hidden;
  white-space: nowrap;
}


/* Top lists */

.block-title,
.block-item,
.cpextra-id,
.cpextra-title {
  text-align: center;
}

.block-title,
.cpextra-title { 
  margin: 2em 2em 0.5em 2em;
  text-transform: uppercase;
}

.block-item,
.cpextra-id {
  margin: 0 0 2em 0;
}

.block-item {
  font-weight: bold;
}

.block-item > *{
  font-weight: normal;
}

.cpextra-id:before {
  content: '<cp_extra extra_id="';
}

.cpextra-id:after {
  content: '"/>';
}

.feed-items {
  font-size: 0.8em;
  list-style: none;
  margin-bottom: 2em;
  margin-top: -1em;
  margin: 1em;
  padding: 0;
}

.feed-items > li {
  display: block;
  height: 3.2em;
  overflow: hidden;
}

/* Fullgraphical block */

.fullgraphical-image,
.fullgraphical-no-image {
  margin: 0.5em;
}

.fullgraphical-image img {
  width: 100%;
}

.fullgraphical-no-image {
  text-align: center;
  text-transform: uppercase;
}

.block.type-fullgraphical .teaserTitle {
  display: block;
  font-weight: bold;
  margin: 0.5em;
}

.object-reference-widget .object-reference {
  width:30em;
}

/* Video block */

.action-content-droppable.video-image.landing-zone.visible {
  width:43%
}
