#cp-content {
  bottom: 1em;
  left: 0;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 66%;
  font-size: 0.5em;
}

#cp-content > table {
  table-layout: fixed;
  width: 100%;
}

#cp-content tr {
  /* This is actually the min-height as per
   * http://www.w3.org/TR/CSS21/tables.html#height-layout */
  height: 10em; 
}

#cp-content td {
  vertical-align: top;
}

#cp-content .editable-area {
  border: 1px solid #eeeeee;
}

#cp-content .hover {
  outline-style: solid;
}

#cp-aufmacher {
  width: 60%;
}

#cp-informatives {
  width: 36%;
}

#cp-teasermosaik {
  width: 100%;
}

#cp-search-pane {
  bottom: 1em;
  position: absolute;
  right: 0;
  top: 0;
  width: 33%;
  border: 1px solid black;
}

#cp-content #lightbox,
#cp-content #lightbox-shade,
#cp-content #lightbox-header {
  font-size: 2em;
  position: absolute;
}



/* Box layout */

.box {
  border: 1px solid black;
  margin-top: 1em;
  padding: 0 0.5em;
}


.landing-zone {
  background-color: #f2f2f2;
  border: 1px dashed #00ee5e;
  color: #00ee5e;
  margin-top: 1em;
  padding: 1em;
}

.editable-area > .landing-zone {
  font-size: 2em;
}

.edit {
  font-size: 2em;
}

.editable-area > .edit {
  padding: 1em;
  color: #00ee5e;
}

.edit > a {
  color: inherit;
}

/* placeholder */

.box.type-placeholder {
  border-style: dashed;
  font-size: 2em;
  padding: 1em;
}

.box.type-placeholder > .choose-box {
  display: block;
  height: 10em;
  background: #f2f2f2;
  border: 1px solid black;
  text-align: center;
  line-height: 10em;
}


/* Teaser visualisations*/

.teaser > img {
  display: none
}

.teaser:first-child > img {
  display: block;
}


.teaser > h2,
.teaser > h3 {
  display: inline;
}

.teaser:first-child > h2,
.teaser:first-child > h3 {
  display: block;
}

.topthema > .teaser:first-child > img {
  width: 100%;
}

.knopf > .teaser:first-child > img {
  width: 20%;
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}


