.visual-clear {
  clear: both;
}

#cp-content {
  bottom: 1em;
  left: 0;
  position: absolute;
  right: 35%;
  top: 0;
}

#cp-content > .cp-content-inner {
  border: 1px solid #E4E4E4;
  bottom: 0em;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
}

#cp-content .editable-area {
  margin: 0.5em;
}

div div.landing-zone:first-child {
    padding-top:15px;
}

#cp-content .hover > * {
  outline: 2px solid #eee;
  border-style: solid;
}

#cp-content .block.droppable-active,
#cp-content .block.hover-content {
  border: none;
}

#cp-content .block.hover-content {
  outline: none;
}

#cp-content .block.droppable-active > *,
#cp-content .block.hover-content > * {
  border: 1px solid #00ee5e;
}

#cp-content .block.hover-content > * {
  outline: 4px solid #00ee5e;
}


#cp-forms {
  bottom: 1em;
  position: absolute;
  right: 0;
  top: 0;
  left: 66%;
}

#cp-forms > .context-views {
  width: 100%;
  background: #fff url(tabs_bg.gif) repeat-x 0 100%;
}

#cp-forms .context-views > ul {
  margin: 0;
  padding: 0;
}

#cp-forms > .tab-content {
  border: 1px solid #bbb;
  border-top: none;
  left: 0;
  right: 0;
  bottom: 0;
  top: 2.2em;
  background: #EEF3F7;
}

.tab-content a {
  outline: none;
}

.tab-content > .context-views {
  background: #fff url(tabs_bg.gif) repeat-x 0 100%;
  border-top: 1px solid #bbb;
  padding-top: 0.5em;
  right: 0;
  top: 0;
}

.tab-content > .context-views > ul > li:first-child > a {
  border-left: none;
  -moz-border-radius-topleft: 0px;
  
}

#cp-search > #search_form {
  padding: 0.7em 0.5em;
} 

#extended_search fieldset {
  border: 0px solid #ffffff;
}

.tab-content > .context-views > ul > li.selected > a {
  background: #EEF3F7;
  border-bottom: 1px solid #EEF3F7;
}

/* lightbox styling */

#content .lightbox,
#content .lightbox-shade,
#content .lightbox-header {
  position: absolute;
  z-index: auto;
}


#cp-content > .lightbox,
#cp-content > .lightbox-header {
  left: 5%;
  right: 5%;
}

#cp-forms > .lightbox,
#cp-forms > .lightbox-header {
  left: 1em;
  right: 1em;
}
 
#cp-forms > .lightbox-header {
  top: 1em;
  left: 1em;
  right: 1em;
  bottom: 1em;
}

#cp-forms > .lightbox {
  bottom: 1em;
  top: 3.5em;
}

#cp-forms > .lightbox #form\.teaserTitle {
  height: 3.9em;
}

.highlight {
  background-color: #ddd !important;
  border: 1px solid #f00 !important;
}

#content .lightbox .edit-common-box input[type="text"] {
  width: 30em;
}


/* Block layout */

.block > .block-inner {
  border: 1px solid #bbb;
  overflow: hidden; 
  padding: 5px 0em;
}

.block-inner .editable p {
  padding:0px 5px;
}

.block {
  margin-top: 1em;
}

.block-inner > .block {
  margin-top: 0em;
}

.editable-area > .landing-zone {
  height: 1em;
  margin: 0.25em 0;
}

#cp-content .lightbox > div.tab-content {
  overflow-y: auto;
}

#cp-content .lightbox h1 {
  margin-top: 0px;
}

.edit-bar > a.common-link {
  display: none;
}

.editable-area > .landing-zone + .block {
  margin-top: 0;
}

.block .landing-zone {
  margin: 1em 0 0 0;
}

#cp-content .lightbox .landing-zone {
  border: 1px solid #00ee5e;
  height: 0.5em;
  padding: 0;
  margin: 0 1em;
  visibility: hidden;
}

#cp-content .lightbox .landing-zone.visible {
  margin-top: 1em;
  height: 1em;
  padding: 1em;
}


.edit {
  border-bottom: 1px solid #bbb;
  margin-bottom: 0px;
  padding-top: 0px;

}

.editable-area > .edit {
  border-top: none;
  color: #00ee5e;
  padding: 1em;
}

.edit > a {
  color: inherit;
}

.edit-bar > a,
.edit-bar > .locked-indicator,
.edit-bar > .position {
  background-color: inherit;
  background-position: top left;
  background-repeat: no-repeat;
  display: block;
  float: left;
  height: 16px;
  margin-left: .3em;
  width: 16px;
}

.editable-area.validation-error {
  background-color: #FAE9E6;
}

.editable-area.validation-warning {
  background-color: #FFF7C4;
}

.block.validation-error > .block-inner {
  background-color: #FAE9E6;
}

.block.validation-warning > .block-inner {
  background-color: #FFF7C4;
}

.edit-bar > .locked-indicator {
  padding-right:0.5em;
}

.edit-bar > .edit-link {
  background-image: url('edit.png');
  padding-right: 0.5em;
}

.edit-bar > .edit-object-link {
  background-image: url('edit-in-new-window.png');
  padding-right: 0.5em;
}

.edit-bar > .delete-link {
  background-image: url('delete.png');
  float: right;
  padding-right: .3em;
}


/* dragger */

.dragger {
  margin: 0 10px;
  z-index: -1;
}


.dragger > .center {
  height: 20px;
  cursor: move;
}



/* Busy indicator */

#busy-indicator {
  bottom: 0em;
  left: 0;
  position: absolute;
  right: 35%;
  top: 0;
}

#busy-indicator > .shade {
  background-color: black;
  border: none;
  bottom: 0;
  left: 0;
  margin: auto;
  opacity: 0.25;
  position: absolute;
  right: 0;
  top: 0;
}

#busy-indicator > img {
  border: none;
  bottom: 0;
  height: 19px;
  left: 0;
  margin: auto;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  width: 220px;
}


/* Module library */

.module {
  float: left;
  height: 80px;
  width: 93px;
  border: 1px solid #cccccc;
  margin: 0.25em;
  overflow: hidden;
  background-color: white;
  font-size: 10px;
  cursor: move;
}

.module:hover {
  border: 1px solid #bbb;
  background-color: #F2F2F2;
}

.module-inner {
  text-align: center;
  vertical-align: middle;
}

.module-inner > img{
  line-height: 50px;
  margin: 5px auto;
  display: block;
}

/* fold */

.cp-content-inner .edit-bar > .fold-link {
  background-image: url('arrow_down.png');
}

.cp-content-inner .folded .edit-bar > .fold-link {
  background-image: url('arrow_right.png');
}


.cp-content-inner .folded > .block-inner > * {
  display: none;

}

.cp-content-inner .folded > .block-inner > .edit-bar {
  border-bottom: none;
  display: block;
  margin-bottom: 0;
}

#editor-forms {
    margin-left:6px;
    margin-right:6px;
}

#editor-forms div div.edit-bar {
}

#editor-forms div div.edit-bar a{
    margin:4px;
    margin-top:5px;
}

/* override so we don't see a flicker */
.inline-form.busy {
  opacity: 1;
}

#cp-content {
  background: none repeat scroll 0 0 #F1F4F9;
}

/* forms */

.inline-form .widget-outer {
  float: left;
  margin: 0 20px 10px 0;
  position: relative;
}

.inline-form .label {
  clear: both;
  display: block;
  float: left;
  overflow: hidden;
}

.inline-form  label {
  font-weight: normal;
  margin-right: 5px;
  padding-left: 3px;
  padding-top:5px;
}

.inline-form .label div.error {
  display: inline;
}

.inline-form .label div.error:before {
  content: "(";
}

.inline-form .label div.error:after {
  content: ")";
}

.inline-form .widget {
  clear: left;
  padding: 0px 0 0;
  margin-bottom:10px;
  float:left;
}

.inline-form div.widget > input,
.inline-form div.widget > textarea,
.inline-form div.widget > div > div > select {
  margin-top: 0;
}

.inline-form .error div.widget > input,
.inline-form .error div.widget > textarea,
.inline-form .error div.widget > div > div > select {
  background-color: red;
}

.inline-form .dirty div.widget > input,
.inline-form .dirty div.widget > textarea,
.inline-form .dirty div.widget > div > div > select,
.inline-form .dirty div.widget > .objectsequencewidget {
  background-color: #ddd;
}

.inline-form .dirty div.widget > input[type=checkbox] {
  outline: 1px solid yellow;
}

.widget-outer select {
  width: 180px;
}

.widget-outer button {
  width: 180px;
}

.inline-form .form-controls {
  display: none;
}

.widget-outer span.required {
  background-color: #a00;
  border-radius: 5px 5px 5px 5px;
  color: #fff;
  font-size: 8px;
  padding-left: 1em;
  padding-right: 1em;
  text-transform: uppercase;
}


.widget-outer span.charlimit {
  color: #777;
  font-weight: 700;
  padding: 2px
  padding: 2px;
  position: absolute;
  right: 0;
  top: 0;
}

.article-editor-inner .folded > .block-inner > * {
  display: none;

}

.article-editor-inner .folded > .block-inner > .edit-bar {
  border-bottom: none;
  display: block;
  margin-bottom: 0;
}

.editable-area .widget > textarea {
  font-family: Georgia,serif;
  font-size: 14px;
  height: 4em;
  line-height: 1.4;
  padding: 5px;
}

#cp-content .editable-area {
    margin: 1em 0 0;
}

/* Fieldsets */

fieldset {
    background: none 0;
    border: medium none;
    overflow: hidden;
    margin: 10px;
    padding: 0;
}

/* Legend */

legend {
  border-bottom: 1px dotted #999999;
  color: #999999;
  display: block;
  font-weight: normal;
  margin-bottom: 5px;
  width: 100%;
  text-transform: none;
}

/* Misc */

#recensions a {
  padding-left:10px;
}
