/* Tables */
div.uitable table{
    font:       Icon;
    border:     1px solid ThreeDShadow;
    background: Window;
    color:      WindowText;
    border-collapse: collapse;
}

div.uitable table thead {
    background: ButtonFace;
}

div.uitable table td {
    padding:    2px 5px;
}

div.uitable table thead th {
    border:         1px solid;
    border-color:   ButtonHighlight ButtonShadow
                    ButtonShadow ButtonHighlight;
    cursor:         default;
    text-decoration: none;
    font-size: 1em;
    font-weight: normal;
    padding: 1px 5px;
}

div.uitable table tbody tr.ui_hover {
    background-color: #DADADA;
}

div.uitable table tbody tr.ui_active {
    background-color: highlight;
    color: highlighttext;
}

div.uitable table tbody tr.ui_hidden {
    display: none;
}

/* Slider */
div.uislider div {
    position: relative;
    z-index:1;
    width: 13px;
    height: 20px;
    background-image:url(images/vol-ico.gif);
    background-repeat:no-repeat;
    top: 0px;
    left: 0px;
    padding:0px 0px 0px 0px;
    cursor: pointer;
}
div.uislider {
    background-image:url(images/vol-fd.gif);
    background-repeat:repeat-x;
    z-index:0;
    padding:0px 0px 0px 0px;
    cursor: pointer;
}

div.uipanel {
    padding: 0px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    background-color: window;
    border-style: groove;
    border-width: 2px;
}

div.uipanel h1 {
    font-weight: bold;
    font-size: 1.2em;
    width:300px;
    border-bottom-style: solid;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-color: #111111;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-top: 0px;
}

div.uipanel.uierror{
    border-color: red;
}

/* Forms */
form.uiform .uierror{
    border-style: solid;
    border-width: 1px;
    border-color: red;
}

form.uiform label {
    text-align: right;
    padding-right: 5px;
}

form.uiform .noborderspace {
    border-width: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

div.uitip {
    position: absolute;
    width:150px;
}

div.uitip .uiarrow {
    border-width: 0px;
    padding: 0px;
    margin: 0px;
    width: 10px;
    height: 10px;
    background-image: url("images/ayuda-flecha.gif");
    background-repeat: no-repeat;
    vertical-align: top;
    position:relative;
    top: 0px;
    left:0px;
    float:left;
}

div.uitip .uimsg {
    text-align:left;
    border:1px solid #990000;
    margin: 0px;
    line-height:13px;
    /*background-color:#F7FB94;*/
    background-color: red;
    font-size:11px;
    /*padding:4px;*/
    color:#ffffff;
    width:120px;
    vertical-align: top;
    position:relative;
    top: 0px;
    left:10px;
}

div.uiwindow .uititlebar {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    font-weight: bold;
    color:#FFFFFF;
    background-color:#9999CC;
    border-color:black;
    margin:0px;
    padding:2px 5px 2px 5px;
    border:1px;
    font-size:1.2em;
}

div.uiwindow {
    border-color: black;
    border-width: 1px;
    border-style: solid;
/*    padding: 1px;*/
}

div.uiwindow .uicontent {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 1px;
    font-size:1em;
    font-weight:normal;
    background-color:#FFFFFF;
    overflow:auto;
    cursor:auto;
}

/* Accordion */
div.uiaccordion {
    border-width:1px;
    border-style:dotted;
    border-color:#666699;
    width:300px;
}
.uiaccordiontitle {
    font-size:12px;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#9999CC;
    border-width:1px;
    border-color:#FFFFFF;
    border-style:solid;
    cursor:pointer;
}
.uiaccordioncontent {
    font-size:11px;
    font-weight:normal;
    color:#6633FF;
    background-color:#FFFFFF;
    overflow:auto;
    cursor:auto;
}
