*.po diff=po merge=po
*.pot diff=po merge=po
# install gettext (for msgcat and friends)
# download git-merge-po.sh from https://github.com/mezis/git-whistles/blob/master/libexec/git-merge-po.sh
# put this into your ~/.gitconfig:
#   [diff "po"]
#   textconv=msgcat --no-location
#   [merge "po"]
#   name = gettext
#   driver = /path/to/git-merge-po.sh %O %A %B
