[buildout]
extends = http://svn.gocept.com/repos/gocept/zopeversions/zope-stable.cfg
parts = lxml test
develop = .

[lxml]
recipe = z3c.recipe.staticlxml
egg = lxml

[test]
recipe = zc.recipe.testrunner
eggs = zeit.connector
defaults = ['-v', '-c']
environment = testenv

[testenv]
connector-url = http://zip6.zeit.de:9000/cms/work/
search-connector-url = http://zip6.zeit.de:9999/
