recursive-include src *.mo
recursive-include src *.po
recursive-include src *.pot
recursive-include src *.pt
recursive-include src *.sh
recursive-include src *.txt
recursive-include src *.zcml

recursive-include **/resources *
recursive-include **/js *

prune src/zeit/connector/testcontent
prune docs

include CHANGES.txt
exclude .gitignore
exclude pyproject.toml
exclude setup.cfg
