.fieldname-copyrights {
  /* restrict height to get rid of a table row, reserved for buttons, that will
   * never show up in our case...
   */
  height: 16em;
  width: 100%;
}

.fieldname-copyrights > label {
  background-color: #f1f4f9;
  position: relative;
  top: 6px;
}

.fieldname-copyrights .combinationFieldWidget .field td:first-child {
  width: 14em;
}

.fieldname-copyrights .combinationFieldWidget tr:first-of-type .label:after,
.fieldname-copyrights .combinationFieldWidget tr:nth-of-type(3) .label:after {
  color: #888;
  content: '©';
  float: right;
  font-size: 17px;
}

.fieldname-copyrights .combinationFieldWidget label {
  display: inline-flex;
}


/* sequencewidget = checked out
 * sequenceWidget = checked in
 * ¯\_(ツ)_/¯
 */
.fieldname-copyrights .sequencewidget tr,
.fieldname-copyrights .sequenceWidget li {
  border-top: 1px solid #d5dee7;
}


/* styles for checked out image groups only */
.fieldname-copyrights .sequencewidget tr:last-of-type {
  border: none;
}

.fieldname-copyrights .sequencewidget tr td:first-of-type {
  padding: 0;
}

.fieldname-copyrights .sequencewidget .combinationFieldWidget tr {
  position: relative;
  top: -30px;
}

.fieldname-copyrights .sequencewidget .combinationFieldWidget tr:first-of-type {
  position: relative;
  top: 44px;
}


/* styles for checked in image groups only */
.fieldname-copyrights .sequenceWidget {
  list-style: none;
  counter-reset: li;
}

.fieldname-copyrights .sequenceWidget .field {
  padding: 0;
}

.fieldname-copyrights .sequenceWidget .combinationFieldWidget tr:first-of-type {
  position: relative;
  top: 36px;
}

.fieldname-copyrights .sequenceWidget .combinationFieldWidget tr:nth-of-type(2) {
  position: relative;
  top: -30px;
}

.fieldname-copyrights .sequenceWidget .combinationFieldWidget tr:first-of-type {
  position: relative;
  top: 36px;
}

.fieldname-copyrights .sequenceWidget .combinationFieldWidget tr:nth-of-type(2) {
  position: relative;
  top: -30px;
}

.fieldname-copyrights .sequenceWidget tr td:first-child {
  max-width: 4em;
}

.fieldname-copyrights .sequenceWidget li:last-of-type {
  border-bottom: 1px solid #d5dee7;
}
