#xml-editor {
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 62px;
  bottom: 0;
}


/* Edit pane */

#xml-editor #xml-editor-edit-pane {
  position: fixed;
  background: #eeeeee;
  border: 1px solid black;
  opacity: 0; 
  width: 20em;
  z-index: 1;
}

#xml-editor-edit-pane *[action] {
  cursor: pointer;
}


#xml-editor-edit-pane textarea {
  width: 90%;
  height: 10ex;
}


#xml-editor img.action {
  margin-right: 3px;
  cursor: pointer;
}

#xml-editor #xml-editor-actions {
  position: fixed;
  background: #ffdd00;
  border: 1px solid black;
  border-bottom: 1px solid #777;
  height: 16px;
  font-family: "Bitstream Vera Sans Mono", monospace;
  overflow: hidden;
  z-index: 1;
  min-width: 170px;
}

#xml-editor #xml-editor-actions > .tag-name {
  vertical-align: middle;
  padding-right: 20px;
  padding-bottom: 7px;
}

#xml-editor #xml-editor-actions .hideActions {
  position: absolute;
  right: 0.2em;
  top: 0.2em;
  border: 1px solid #aaa;
}


#xml-editor *[path] {
  display: block;
  border-width: 1px;
  border-style: solid;
  margin: 0 0 0 2em;
  padding: 2px;
  min-height: 10px;
}

#xml-editor table {
  display: table !important;
}

#xml-editor .row-cell {
  display: table-cell;
}

#xml-editor .row {
  display: table-row;
}

#xml-editor *[xml-tag-name="body"] {
  display: table;
}

#xml-editor *[xml-tag-name="column"] {
  display: table-cell;
  border: 1px dotted #ccc;
}

#xml-editor *[xml-tag-name="row"] {
  display: table-cell;
}

#xml-editor *[xml-tag-name="container"] {
  background-color: #f0f0f0;
}

#xml-editor *[xml-tag-name="block"] {
  margin-bottom: 5px;
}

#xml-editor > *[path] {
  background-color: #fdfdfd;
  border-color: #f5f5f5;
}
#xml-editor > *[path] > *[path] {
  background-color: #f5f5f5;
  border-color: #ededed;
}
#xml-editor > *[path] > *[path] > *[path] {
  background-color: #ededed;
  border-color: #e6e6e6;
}
#xml-editor > *[path] > *[path] > *[path] > *[path] { 
  background-color: #e6e6e6;
  border-color: #dedede;
}
#xml-editor > *[path] > *[path] > *[path] > *[path] > *[path]{ 
  background-color: #dedede;
  border-color: #d6d6d6;
}

#xml-editor .block-meta {
  text-align: right;
  font-size: 80%;
  color: #808080;
  white-space: nowrap;
  overflow: hidden;
}


#xml-editor .metadata {
  display: none;
}

#xml-editor *[xml-tag-name="line"] {
  width: 100%;
  background-color: #808080;
  min-height: 1px !important;
}

#xml-editor .dragged {
  border: 1px solid red !important;
}

#xml-editor .active {
  background-color: #ffdd00 !important;
  cursor: pointer;
  border: 1px solid black;
}

#xml-editor .droppable {
  border: 1px solid red;
}
