/* style definitions for widgets (panels, forms); Most things go here. */

.contentListing {
   border-collapse: collapse;
   width: 100%;
   cursor: pointer;
}

.contentListing > tbody > tr.even {
   background-color: #f2f2f2;
   position: static !important;
}

.contentListing > tbody > tr.selected > td {
  background-color: #d5dee7;
}

.contentListing > thead > tr > th {
  white-space: nowrap;
}

.contentListing > tbody > tr > td > .filename {
  font-size: 0.8em;
}

/* don't display the filter column */
.hasMetadata > thead > tr > th:last-child,
.hasMetadata > tbody > tr > td:last-child {
   display: none;
}

.zc-table-sortable {
  cursor: pointer;
}

table.properties td {
  vertical-align: top;
}

table.properties input[name="namespace:list"] {
  width: 25em;
}

table.properties input[name="name:list"] {
  width: 10em;
}

table.properties textarea {
  width: 20em;
  height: 5em;
}


/*
 * General Panel defs 
 * 
 * */
.PanelContent {
   overflow-y: auto;
   overflow-x: hidden;
   padding: 0.5em 0.5em;
}

.folded .PanelContent {
   display: none;  
}
.unfolded .PanelContent {
   display: block;
}

.folded h1 {
  background-image: url("layout/unfold.png");
}
.unfolded h1 {
  background-image: url("layout/fold.png");
}

.folded h1 a {
  margin-left: 12px;
  padding-left: 0;
}

.unfolded h1 a {
  margin-left: 12px;
  padding-left: 0px;
}

/* site control panel */
#zeit-cms-sitecontrol select {
  max-width: 70%
}

#zeit-cms-sitecontrol input {
  width: 25%
}

#zeit-cms-sitecontrol option.sub_ressort {
  padding-left: 2em;
}

#zeit-cms-sitecontrol option.topicpage {
  font-style: italic;
  padding-left: 2em;
}

#zeit-cms-sitecontrol option.topicpage.sub_ressort {
  padding-left: 4em;
}


/* Checked out documents panel */
#WorkingcopyPanel table {
  width: 100%;
  border: none;
}
#WorkingcopyPanel table > thead {
    display: none;
}

#WorkingcopyPanel a.reference {
  color: #888;
}

/* search panel */
#search-extended-show {
  cursor: pointer;
  color: #004455;
}

#search-extended-hide {
  cursor: pointer;
  color: #004455;
}

#search-extended-indicator {
    white-space: pre;
    color: black;
    font-size: 0.8em;
}

.Search > form.show-extended > #search-extended-show {
  display: none;
}

.Search > form.hide-extended > #search-extended-form {
  display: none;
}

.Search .widget {
  float: left;
}

.Search label {
  display: block;
}

.Search > form > fieldset {
  margin: 0em;
}

.Search input[name="year"] {
  width: 4em;
}

.Search select[name="volume"] {
  width: 4em;
}

.Search input[name="page"] {
  width: 2em;
}

.Search select[name="navigation"] {
  width: 8em;
}

.Search select[name="print_ressort"] {
  width: 8em;
}

.Search select[name="serie"] {
  width: 8em;
}



/* 
 * Styles for xmltree (repository and clipboard panel)
 * 
 * */
.Tree ul {
   list-style-position: inside;
   padding-left: 1.6em;
   margin: 0;
}

.Tree li > p {
   margin: 0;
   padding: 0;
   margin-top: -1.5em;
   padding-left: 1.5em;
}
.Tree li.Root > p {
   margin: 0;
   padding-left: 17px;
   font-weight: bold;
}

.Tree li.Root > p {
   background: url("layout/minus.png") no-repeat !important;
   cursor: pointer;
}

.Tree li.Root > p > a {
   padding-top: 5px;
}

.Tree li {
   list-style-image: url("layout/tline.png");
   background: url("layout/vline.png") repeat-y top left;
   cursor: pointer;
}
.Tree li:last-child {
   list-style-image: url("layout/lline.png");
   background-image: none;
}

.Tree li[action="collapse"] {
   list-style-image: url("layout/minus.png");
   color: #000000 !important;

}
.Tree ul > li[action="collapse"].collapse:last-child {
   list-style-image: url("layout/minus_lastchild.png");
   color: #000000 !important;

}
.Tree li.Root:last-child {
   list-style: none;
}

.Tree li[action="expand"] {
   list-style-image: url("layout/plus.png");
   color: #8A0808 !important;
}
.Tree li[action="expand"]:last-child {
   list-style-image: url("layout/plus_lastchild.png");
   color: #8A0808 !important;

}

.Tree li[active] > p > a {
  font-weight: bold;
   color: #8A0808;

}

.TreeHover > *:first-child {
 border-bottom: 2px solid red !important; 
    padding-bottom: 2em;
}

#NavtreePanel .PanelContent {
  height: 20em;
}

/* Hide the root node from repository and clipboard. Also move those trees a
   bit more to the left */
#clipboardcontents .Root > p,
#navtreecontents .Root > p {
   display: none;
}

#clipboardcontents > ul,
#navtreecontents > ul {
    margin-left: -2em;
}

#clipboardcontents {
  margin-bottom: 1em;
}

#clipboardcontents .context-action img {
  vertical-align: top;
}


/*
 * Drag-Pane, Tooltip
 *
 * */
#tooltip,
#drag-pane {
  border: 0px solid black;
  cursor: move;
  padding: 0px;
  position: absolute;
  z-index: 1;
  height: auto !important;
  overflow: hidden;
}

#drag-pane .filters,
#drag-pane .related_links,
#drag-pane .goto-object,
#drag-pane .preview,
#drag-pane .related_info {
	display:none;
}

#drag-pane {
  -moz-box-shadow: 5px 5px 10px #666;
  background-color: transparent;
  opacity: 0.9;
  overflow: hidden;
}

#drag-pane > * {
  margin: 0;
}

#drag-pane td:last-child {
  display: none;
}

#drag-pane li > p {
  margin: 0;
}

#tooltip {
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  border:1px solid #C4C4C4;
  background-color: #F1F4F9;
  padding: 10px;
  height: auto;
  max-width: 18em;
}

#tooltip .text,
#drag-pane .text {
  font-weight: bold;
}

#tooltip .UniqueId {
    display: none;
}

.uniqueId,
.URL {
    display: none;
}

#clip-add-folder-box {
  display: none;
}


/* 
 * tablefilter 
 *
 * */

#tableFilter  {
  position: absolute;
  top: 0;
  right: 0;
}

#tableFilter input {
  font-family: sans-serif;
  width: 20em;
  color: #196692;
}

#add_menu {
  border: 1px solid black;
  font-family: sans-serif;
}

/* XXX should be factored out to Article */
/* Metadata preview contents */
/* article */

#metadata_preview *[title] {
  cursor: help;
}

#metadata_preview .super-title {
  font-variant: small-caps;
  display: inline;
}

#metadata_preview .super-title:after {
  font-variant: small-caps;
  content: ":";
}

#metadata_preview .teaser-title {
  display: inline;
  font-weight: bold;
  
}

#metadata_preview .teaser-text {
  max-width: 50%;
}




#metadata_preview .syndicated-in {
  float: right;
}

.image-metadata {
  /* the meadata view */
  font-size: 12pt;
}

.image-metadata img {
  float: left;
  margin-right: 1em;
}

.image-list .image {
  float: left;
  border: 1px solid grey;
  width: 100px;
  height: 125px;
  overflow: hidden;
  text-align: center;
  margin: 1px;
  padding: 1px;
}

.image-list .image-data {
  line-height: 100px;
}

.image-list .image-data img {
  vertical-align: middle;
}

.image-list .image-metadata {
  font-size: 8pt;
}

.image-group-image-preview {
  float: left;
  margin: 0.5em;
}

.image-view-metadata {
  float: right;
  font-size: 8pt;
  margin-right: 2em;
}

.image-copyrights {
  list-style: none;
  padding-left: 0;
}




.objectsequencewidget input.autocomplete {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.objectsequencewidget input.autocomplete[value=""]:before {
  content: "Type to add …";
}

.objectsequencewidget ul.references {
  list-style: none;
  margin: 0;
  padding: 0;
}

.objectsequencewidget ul.references > li {
  cursor: move;
  position: relative;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

.objectsequencewidget ul.landing-zone > li {
  margin: 1em;
}

.objectsequencewidget li a[rel="remove"],
.drop-object-widget .object-reference a[rel="remove"] {
  background: url("../zeit.cms/icons/icons_sprites.png") no-repeat scroll 68px -417px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 2px 2px 2px 2px;
  border: 1px solid #000000;
  color: #fff;
  cursor: pointer;
  display: none;
  font-family: arial,serif;
  font-size: 14px;
  height: 18px;
  margin-right: 16px;
  margin-top: 48px;
  padding-left: 1em;
  padding-right: 2.2em;
  padding-top: 2px;
  position: absolute;
  right: 0;
  top: 0;
}

.field.error .objectsequencewidget li a[rel="remove"],
.field.error .drop-object-widget .object-reference a[rel="remove"] {
  margin-top: 1em;
}

.drop-object-widget .object-reference .type-infobox ~ a[rel="remove"],
.drop-object-widget .object-reference .type-portraitbox ~ a[rel="remove"] {
  margin-top: 5px;
}

.object-reference:hover a[rel="remove"],
.objectsequencewidget li:hover a[rel="remove"] {
  display: block;
}

.object-reference a[rel="remove"]:hover,
.objectsequencewidget li a[rel="remove"]:hover,
.drop-object-widget .object-reference a[rel="remove"].button:hover {
  border: 1px solid #fff;
}

.object-widget.droppable-active  a[rel="remove"] {
  display: none;
}

.object-reference-widget.droppable-active input[type=text],
.object-reference-widget.hover-content input[type=text] {
  border: 1px solid #a6cc17;
}

.object-reference-widget.hover-content input[type=text] {
  outline: 4px solid #a6cc17;
}

.sequencewidget tr.droppable-active {
  outline: 1px dashed #a6cc17;
}

.sequencewidget tr.hover-content {
  outline: 4px solid #a6cc17;
}


.object-reference-widget .object-reference {
    position: relative;
    width: 10em;
}

.object-widget a.button.configure_search {
  padding-left: 2px;
  padding-right: 2px;
  background-position: 9px -55px, 0 0;
  margin-right: 25px;
}

.object-widget a.button.configure_search:before {
  content: "";
  display: inline-block;
  width: 2em;
}

.object-widget a.configure_search:hover {
  background-position: 9px -85px, 0 0 !important;
}

.object-widget {
  border: 1px solid transparent;
}

.object-widget ul {
  padding-left: 0;
}

.object-widget li {
  list-style: none;
}

.drop-object-widget.landing-zone {
  visibility: visible;
  border: transparent;
}

.objectsequencewidget .more {
  display: none;
}

.objectsequencewidget strong.profile {
  background: url("../zeit\.cms/icons/icons_sprites.png") no-repeat scroll 168px 2px transparent;
  padding-right:20px;
}

.objectsequencewidget .goto-object.object-link {
  float: none;
}

/* Notifications and messages*/
#messages {
  position: absolute;
  top: 5.5em;
  right: 0;
  width: 30em;
  opacity: 0.95;
  padding: 0;
  margin: 0;
  z-index: 1;
}

#messages_container {
  float: right;
}

.haveMessages.staticErrorText {
  background-color: #ffffff;
  padding: 0.5em 1em;
  color: black;
  cursor: pointer;
}

.staticErrorText {
  color: #ddd;
  background-color: transparent;
  cursor: pointer;
  padding: 0.5em 1em;
}


#messages ul {
  padding: 1em 1em 0em 1em;
  margin: 0;
  background-color: #f1f4f9;
  border: 2px solid #d5dee7;
}

#messages.hiddenMessages ul {
  display: none;
}

#messages li {
  padding-bottom: 0.5em;
  list-style: none;
}

#messages .hideText {
  background-color: #d5dee7;
  text-align: right;
  padding: 0.5em 1em;
  cursor: pointer;
}

#messages .hideText:before {
  content: "[";

}
#messages .hideText:after {
  content: "]";
}

#messages.hiddenMessages #messages_counter,
#messages.hiddenMessages .hideText {
  display: none;
}
#messages_counter {
  float: left;
  margin: 0.5em;
  color: #888888;
}

.GlobalInformation  {
   float: right;
}

#user-information {
  padding: 0;
  margin: 0.5em 1em 0 1em;
  color: #ddd;
  float: right;
}

.keyword-widget .not-shown {
    color: #7d7d7d;
}

.keyword-widget .shown {
    border-right: 3px solid #999999;
}

.keyword-widget ol {
    list-style: none;
    padding-left: 0;
    border-top: 1px solid #dddddd;
}

.keyword-widget li {
    clear: both;
    cursor: default;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #dddddd;
    width: 100%;
}

.keyword-widget input {
    display: none;
}

.keyword-widget label.icon {
    display: block;
    float: right;
    width: 14px;
    height: 14px;
    margin-left: 1em;
    padding-top: 0px;
    background: url("../zeit\.cms/icons/icons_sprites.png") no-repeat scroll 1px -418px transparent;
}

.keyword-widget label:hover {
    background-position: 1px -448px;
}

.rst-preview {
    white-space: pre-wrap;
}

.rst-preview.empty:before {
    content: "(hier Text eingeben)";
}
