/* Lightbox */

#lightbox-shade {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.7;
}

#lightbox {
    z-index: 3;
    background-color: white;
    border: 1px solid black;
    position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
}

#lightbox > .keyword-tree {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40%;
    margin: 1em;
}


#lightbox > .keyword-tree > .Tree {
    overflow: auto;
    position: absolute;
    top: 2.1em;
    left: 0;
    bottom: 0;
    right: 0;
}

#lightbox > .keyword-input {
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    height: 5em;
    margin: 1em;
}

#lightbox > .keyword-list {

    position: absolute;
    top: 6em;
    right: 0;
    width: 55%;
    bottom: 0;
    margin: 1em;
    overflow-y: auto;
}

#lightbox-keyword-list {
  min-height: 40px;
}

#lightbox-keyword-list > li {
  padding-bottom: 0.5em;
}

#lightbox-keyword-list img[action="delete"] {
  margin-left: 1em;
  margin-bottom: -0.5em;
  cursor: pointer;
  opacity: 0.3;
}
#lightbox-keyword-list img[action="delete"]:hover {
  opacity: 1;
}


#lightbox > #popup-navtree {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 20em;

  overflow-x: hidden;
  overflow-y: auto;
}

#lightbox > .objectbrowser-content {
  position: absolute;
  bottom: 0;
  left: 20em;
  right: 0;
  top: 0;
  
  overflow-x: hidden;
  overflow-y: auto;
}

#lightbox > .objectbrowser-content > .contentListing {
  margin-top: 0;
}

#lightbox > .tree-view-url {
  display: none;
}

.object-widget .object-reference {
    width: 10em;
}
