/* Lightbox */

#lightbox-header {
    z-index: 3;
}

#lightbox > div {
    position: absolute;
    top: 0;
}

#lightbox > .keyword-tree {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40%;
}


#lightbox > .keyword-tree > .Tree {
    overflow: auto;
    position: absolute;
    top: 1em;
    left: 0;
    bottom: 0;
    right: 0;
}

#lightbox > .keyword-input {
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    height: 5em;
}

#lightbox > .keyword-list {
    position: absolute;
    top: 20em;
    right: 0;
    width: 55%;
    bottom: 0;
    margin: 1em;
    overflow-y: auto;
}

#lightbox-keyword-list {
  min-height: 40px;
}

#lightbox-keyword-list > li {
  padding-bottom: 0.5em;
}

#lightbox-keyword-list img[action="delete"] {
  margin-left: 1em;
  margin-bottom: -0.5em;
  cursor: pointer;
  opacity: 0.3;
}
#lightbox-keyword-list img[action="delete"]:hover {
  opacity: 1;
}


#lightbox > #popup-navtree {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 20em;

  overflow-x: hidden;
  overflow-y: auto;
}

#lightbox > .objectbrowser-content {
  position: absolute;
  bottom: 0;
  left: 20em;
  right: 0;
  top: 0;
  
  overflow-x: hidden;
  overflow-y: auto;
}

#lightbox > .objectbrowser-content > .contentListing {
  margin-top: 0;
}

#lightbox > .tree-view-url {
  display: none;
}

.object-widget .object-reference {
    width: 10em;
}

#lightbox > .typeahead-results {
    position: absolute;
    top: 6em;
    width: 55%;
    right: 0;
    height: 15em;
    overflow: hidden;
}

#keyword-typeahead-results ul {
    padding-left: 0;
}
#keyword-typeahead-results ul li {
    display: inline;
    padding: 0 1em;
}

#lightbox h1 {
  font-size: 1.2em;
  font-weight: normal;
  margin-top: -2em;
  background-color: transparent;
  max-width: 30em;
}



/*
 * delete screen
 *
 * */

.deleteScreen p {
   margin-left: 1em;
}

.deleteScreen form input {
   margin-right: 1em;
}

.DeleteItem img {
   vertical-align: middle;
}

.DeleteItem {
   padding: 0.5em;
}

.deleteScreen .containerName {
  font-weight: bold;
}
