/* Lightbox */

.lightbox-shade {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.7;
}

.lightbox-header {
    z-index: 4;
    background-color: #ddd;
    position: fixed;
    top: 7.5em;
    left: 10em;
    right: 10em;
    text-align:right;
    padding: 0.5em;
}

.lightbox-header .CloseButton {
    background: url("icons/close.png");
    width: 17px;
    height: 17px;
    display: block;
    float: right;
}

.lightbox {
    z-index: 3;
    background-color: white;
    position: fixed;
    top: 10em;
    left: 10em;
    right: 10em;
    bottom: 7.5em;
    overflow-y: auto;
}

:focus {
    outline: 0;
}

.lightbox-header {
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #bbb;
    z-index: 3;
}

.lightbox > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.lightbox .lightbox-full {
  position: absolute;
  top: 1em;
  bottom: 1em;
  left: 1em;
  right: 1em;
  overflow: auto;
}

.lightbox .form-fields {
    margin-left: 1em;
}

.lightbox .form-controls {
    margin: 1em;
}

.nextURL {
  display: none;
}

.lightbox > .floating > * {
    padding: 0.4em;
}

.lightbox .context-views {
  margin-top:-3.2em;
  right: 20px;
}

.lightbox .keyword-tree {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40%;
}


.lightbox .keyword-tree > .Tree {
    overflow: auto;
    position: absolute;
    top: 1em;
    left: 0;
    bottom: 0;
    right: 0;
}

.lightbox .keyword-input {
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    height: 4em;
}

.lightbox .keyword-list {
    position: absolute;
    top: 18em;
    right: 0;
    width: 55%;
    bottom: 0;
    overflow-y: auto;
}

#lightbox-keyword-list {
  min-height: 40px;
  list-style: none;
  padding-left: 0;
}

#lightbox-keyword-list > li {
  padding-bottom: 0.5em;
}

#lightbox-keyword-list img[action="delete"] {
  margin-left: 1em;
  margin-bottom: -0.5em;
  cursor: pointer;
  opacity: 0.3;
}
#lightbox-keyword-list img[action="delete"]:hover {
  opacity: 1;
}


.lightbox #popup-navtree {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 20em;

  overflow-x: hidden;
  overflow-y: auto;
}

.lightbox .objectbrowser-content {
  position: absolute;
  bottom: 0;
  left: 20em;
  right: 0;
  top: 0;
  
  overflow-x: hidden;
  overflow-y: auto;
}

.lightbox .objectbrowser-content.no-content {
  padding: 2em;
}

.lightbox .objectbrowser-content > .contentListing {
  margin-top: 0;
}

.lightbox .tree-view-url {
  display: none;
}

.object-widget .object-reference {
    width: 10em;
}

.lightbox .typeahead-results {
    position: absolute;
    top: 4em;
    width: 55%;
    right: 0;
    height: 15em;
    overflow: hidden;
}

#keyword-typeahead-results ul {
    padding-left: 0;
}
#keyword-typeahead-results ul li {
    display: inline;
    padding: 0 2em 0 0;
}

.lightbox h1 {
  font-size: 1.2em;
  font-weight: normal;
  margin-top: -2em;
  margin-right: 2em; /* Leave space for the close button */
  background-color: transparent;
}

.lightbox .suggest-keyword {
    width: 17em;
    float: right;
    margin-right: 1em;
}



/*
 * delete screen
 *
 * */

.deleteScreen p {
   margin-left: 1em;
}

.deleteScreen form input {
   margin-right: 1em;
}

.DeleteItem img {
   vertical-align: middle;
}

.DeleteItem {
   padding: 0.5em;
}

.deleteScreen .containerName {
  font-weight: bold;
}


/* Clipboard insert */

#LightboxClipboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 30em;
    bottom: 0;
    overflow: auto;
}

#LightboxClipboardExplain {
    position: absolute;
    padding: 1em;
    top: 0;
    left: 30em;
    right: 0;
    bottom: 0;
}
