/* style definitions for object-details views . */

.object-details {
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  cursor: move;
  margin-bottom: .8em;
  overflow: hidden;
  padding: 1em;
}

.cp-content-inner .object-details {
  min-width: 400px;
  padding: 0px;
  border-color: #cccccc;
}

.cp-content-inner .object-details:hover {
  border-color: #bbbbbb;
}

.cp-content-inner .object-details strong {
  display: block;
  float: left;
}

.cp-content-inner .object-details a.communitylink {
  display: block;
  float:left;
  color: transparent;
  text-indent: -1000px;
  width: 15px;
  background: url("../zeit.cms/icons/icons_sprites.png") no-repeat scroll 4px -116px transparent;
  cursor: pointer;
}

.cp-content-inner .object-details a.fold-link {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin: 5px 7px 0px;
  background-repeat: no-repeat;
}

.object-details-heading {
    background: none repeat scroll 0 0 #FFF;
    padding-top: 5px;
    padding-right: 30px;
}

.object-details-heading img {
    vertical-align: middle;
}

.object-details-heading ul {
    font-family: "Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
    font-size: 11px;
    color: #90B0C3;
}

.object-details-heading .filename {
    font-weight: bold;
}

.object-details-heading ul,
.object-details-heading li {
    display: inline;
}

.object-details-heading li:before {
    content: "| ";
}

.object-details-heading li:first-child:before {
    content: "";
}

.object-details-heading .metadata {
    padding-left: 3px;
    vertical-align: middle;
    margin: 0px;
}

.object-details-body {
    padding: 1em;
    clear: both;
}

.object-details .supertitle {
  display: block;
  font-weight: 400;
  margin-bottom: .5em;
  vertical-align: middle;
}

.object-details .supertitle .text {
  white-space: nowrap;
}

.object-details .supertitle img {
  margin-right: .5em;
  vertical-align: middle;}

.object-details .supertitle img:last-child {
  margin-right: 12px;
}

.object-details .teaser_title {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: .3em;
}

.object-details .teaser_text {
  font-size: 1em;
  margin-top: 0.3em;
  margin-bottom:0.5em;
}

.object-details .graphical_preview {
  float: right;
}

.object-details .goto-object {
  clear: right;
}
.object-details .object-link {
  float: right;
}

.overlay-anchor .overlay {
    display: none;
}

.overlay-anchor,
.object-reference:hover .overlay .overlay-position {
    display: inline-block;
    position: relative;
}

.object-reference:hover .overlay {
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
}

.overlay-anchor:hover .overlay .overlay-position {
    width: 100%;
}

.editable-area .overlay-position .edit-button {
    background: url("../zeit.cms/icons/icons_sprites.png") no-repeat scroll 0 0 #fff;
    border: 1px solid #000;
    opacity: 0.8;
    padding-left: 2em;
    padding-right: 2em;
}
