/* style definitions for tables */
table {
    cursor: default;
}

table > thead > tr > th {
    background-color: #d5dee7;
    padding: 0.5em;
}

table > tbody > tr > th {
    vertical-align: top;
}

table > thead > tr > th,
table > tbody > tr > th {
    text-align: left;
    margin: 0;
    color: black;
    font-weight: normal;
}

table > * > tr > td {
    padding: 0.1em 0.3em;
    height: 30px;
}

.contentListing {
   border-collapse: collapse;
   width: 100%;
   cursor: inherit;
}

.contentListing.filterable {
   cursor: pointer;
}

.contentListing > tbody > tr.even {
   background-color: #eef2f5;
   position: static !important;
}

.contentListing > tbody > tr.selected > td {
  background-color: #d5dee7;
}

.contentListing > thead > tr > th {
  white-space: nowrap;
}

.contentListing > tbody > tr > td > .filename {
    font-size: 0.8em;
}

ul.contentListing {
    cursor: default;
    list-style: none;
    padding: 0;
}

ul.contentListing > li {
    clear: both;
    margin-bottom: 1em;
}

ul.contentListing > li > a {
    display: block;
    margin-left: 28px;
}

ul.contentListing > li > img {
    float: left;
}

/* don't display the filter column */
.hasMetadata > thead > tr > th:last-child,
.hasMetadata > tbody > tr > td:last-child {
   display: none;
}

/* don't display unlocked indicator */
table.contentListing > tbody > tr > td > img.lock-open,
table.syndication-manager > tbody > tr > td > img.lock-open {
    display: none;
}

.zc-table-sortable {
  cursor: pointer;
}

table.properties td {
  vertical-align: top;
}

table.properties input[name="namespace:list"] {
  width: 25em;
}

table.properties input[name="name:list"] {
  width: 10em;
}

table.properties textarea {
  width: 20em;
  height: 5em;
}


