.objectsequencewidget li a[rel="remove"] {
    margin-top: 10px;
}

.fieldname-ressort {
    float: left;
    margin-right: 20px;
    clear: both;
}

.fieldname-product {
    float: left;
    margin-right: 20px;
    clear: both;
}

.fieldname-copyrights {
    float: left;
    margin-right: 20px;
}

.fieldname-year {
    float: left;
    margin-right: 20px;
}

.fieldname-volume {
    float: left;
    margin-right: 20px;
}

.fieldname-authorships {
    clear: left;
}
