/* Calendar */


.calendar-heading,
.calendar-links {
  top: 0;
  height: 3em;
  right: 0;
  left: 0;
  vertical-align: center;
  text-align: right;
  position: absolute;
  font-size: 1.5em;
  padding-top: 0.5em;

}

.calendar-heading {
    z-index: -1;
    text-align: left;
    font-weight: normal;
}

.calendar-links .mode-switch {
    display: inline;
    margin-right: 4em;
    margin-left: 2em;
}

.calendar-links .mode-switch a {
    margin-right: 1em;
}

.calendar-links .backforward {
    display: inline;
}

.MonthView {
    background: url("/@@/zeit.calendar/icons/monthview.png") no-repeat left center;
    padding-left: 20px;
}
.WeekView {
    background: url("/@@/zeit.calendar/icons/weekview.png") no-repeat left center;
    padding-left: 20px;
}

.calendar-table {
  position: absolute;
  top: 5ex;
  bottom: 0;
  right: 0;
  left: 0;

}

#calendar {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

#calendar thead {
    height: 2em;
}

#calendar tbody {
  height: 80%;
}

#calendar td.day{
    background-color: #eeeeee;
}

#calendar td.today{
    background-color: #ddd;
}

#calendar td {
    vertical-align: top; 
}

#calendar.month td {
    width: 14%; /* 100% / 7 days */
    height: 10%; /* 100% / 6 weeks */
}

#calendar.week td {
    width: 12.5%;
    height: 100%;
}

#calendar td.day a.add-event {
    visibility: hidden;
}
#calendar td.day:hover a.add-event {
    visibility: visible;
}
#calendar td.day:hover {
    background-color: #fefeb0;
}

#calendar .event {
  overflow: hidden;
  margin-top: 0.5ex;
  white-space: nowrap;
}

#calendar .thema {
  background-color: #e88;
}

/* DND */
.calendar-drop-hover {
  display: block;
  background-color: red;
}

div.day {
  top: 1ex;
}
