#select-item {
    margin-bottom: 1em;
}

/* Lightbox */

.lightbox-header {
    top: 2em;
    left: 2em;
    right: 2em;
}

.lightbox {
    top: 4em;
    left: 2em;
    right: 2em;
    bottom: 2em;
}

#preview {
    margin-top: 1em;
    text-align: center;
}
