.newsletter-ad {
    padding-top: 20px;
    background: #ECF5FC;
    /* This causes vertical expansion so it envelops the floating image */
    overflow: hidden;
}

.newsletter-ad-label {
    color: #999999;
    margin-bottom: 1em;
}

.newsletter-ad-image {
    float: left;
}

.newsletter-ad-title {
    font-weight: bold;
    margin-bottom: 1em;
}
