.tocListing > thead > tr > th:nth-last-child(2),
.tocListing > thead > tr > th:nth-last-child(3),
.tocListing > tbody > tr > td:nth-last-child(2),
.tocListing > tbody > tr > td:nth-last-child(3) {
   display: none;
}

.toc_topcontent {
   top: 5em !important;
}

#tocListingFilter {
   width: 75%;
}

#tocListingFilter > .toclisting_container {
   padding-left: 1em;
}
