.tocListing > thead > tr > th:nth-last-child(2),
.tocListing > tbody > tr > td:nth-last-child(2) {
   display: none;
}

.toc_topcontent {
   top: 5em !important;
}

#tocListingFilter {
   width: 75%;
}