.field.fieldname-twitter_enabled,
.field.fieldname-twitter_ressort_enabled,
.field.fieldname-twitter_print_enabled,
.field.fieldname-facebook_main_enabled,
.field.fieldname-facebook_zett_enabled,
.field.fieldname-facebook_magazin_enabled {
    float: left;
}

.field.fieldname-short_text,
.field.fieldname-facebook_magazin_text,
.field.fieldname-twitter_ressort_enabled,
.field.fieldname-twitter_print_text,
.field.fieldname-twitter_print_enabled,
.field.fieldname-mobile_text {
    clear: left;
}

.field.fieldname-twitter_ressort {
   float: left;
  /* If it's too large, it won't float.
     If it's too small, the label inside has no room to float. */
   min-width: 70%;

   padding-top: 13px; /* XXX vertical alignment */
}

.field.fieldname-twitter_ressort .label,
.field.fieldname-twitter_ressort label {
    display: none;
}

.field.fieldname-twitter_ressort .widget {
    display: inline-block;
}

.field.fieldname-twitter_ressort select {
    margin-top: -4px;  /* vertically centered appearance */
}
