/* IMAGE UPLOAD */
.imageupload {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.imageupload__input {
  display: none;
}

.imageupload__drop {
  border: 1px dashed #a6cc17;
  background-color: #f1f4f9;
  flex: 1 0 10em;
}

.imageupload__button {
  background: url('/fanstatic/zeit.cms/icons/icons_sprites.png') no-repeat scroll 10px -113px , linear-gradient(0deg, #f1f4f9 50%, #dee1e6 94%) repeat scroll 0 0 transparent;
  border-radius: 2px 2px 2px 2px;
  border: 1px solid #c1c1c1;
  box-shadow: 0px 0px 0px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: arial, serif;
  font-size: 12px;
  padding: 3px 8px 2px 30px;
  text-decoration: none;
  text-indent: 0;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  white-space: inherit;
}

.imageupload__gallery {
  gap: 1em;
  margin-top: 10px;
  padding: 0;
}
.imageupload__gallery li {
  display: grid;
  gap: 1em;
  grid-template-columns: 150px 1fr 6rem;
  grid-template-rows: 120px 20px;
  height: 150px;
  list-style: none;
  margin: 1em 0;
}
.imageupload__gallery img {
  width: 100%;
  grid-area: 1 / 1 / span 2 / 1;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center center;
}
.imageupload__gallery .filename {
  align-content: center;
  height: 150px; /* Dirty */
}

.imageupload__gallery progress {
  display: none;
  grid-area: 2 / 2;
  width: auto;
}
.uploading progress {
  display: initial;
}
.imageupload__gallery .error {
  color: red;
  grid-area: 2 / 2;
}
.imageupload__gallery button {
  height: fit-content;
  width: 6rem;
  padding: 1em;
  margin: auto;
  grid-area: 1 / 3 / span 2;
}

.edit-image-table {
  width: calc(100% - 8px);
}

.edit-image-table td,
.edit-image-table th {
  padding: 1em 0.2em;
  vertical-align: top;
}

.edit-image-table td:first-child {
  width: 67px;
}

.edit-image-table img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}

.edit-image-table input,
.edit-image-table textarea {
  border: 1px solid #aaa;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 5px;
  font-family: unset;
  width: 100%;
}

.edit-image-table textarea {
  height: 67px;
  margin: 0;
  resize: none;
}
