.fieldname-copyrights {
  width: 100%;
}

.fieldname-copyrights .field td:first-child {
  width: 14em;
}

.fieldname-copyrights label {
  display: inline-flex;
}

/* Depending on the state of the ressource, the element order will differ. */
.fieldname-copyrights--edit tr:nth-of-type(2) .label:after,
.fieldname-copyrights--display tr:first-of-type .label:after,
.fieldname-copyrights tr:nth-of-type(3) .label:after {
  color: #888;
  content: '©';
  float: right;
  font-size: 17px;
}

.fieldname-copyrights--display td {
  padding-bottom: 0;
}

.fieldname-copyrights--display tr:nth-of-type(2) {
  position: relative;
  top: -33px;
}

.fieldname-copyrights--display tr:first-of-type {
  position: relative;
  top: 33px;
}
