#variant-content {
    bottom: 1em;
    position: absolute;
    right: 35%;
    width: 65%;
    top: 0;
}

/* Container leaves 15px padding to fit in zoom bar, which has width of 15px */
#variant-inner {
    padding-right: 15px;
}

/* WARNING: Do not add border, padding or margin to child elements nor set
   box-sizing to border-box, since any of those changes will screw up the
   calculation of the focuspoint. */
#variant-inner > .image-container {
    width: 100%;
    float: left;
    position: relative;
}

/* To float zoom bar aside image-container, we define it with effective width
   of 0px = 15px (width) + -15px (margin-right). Thus it can always fit beside
   another content. Since parent leaves padding of 15px, this is where the zoom
   bar fits in. */
.zoom-bar {
    margin-top: 100px;
    margin-right: -15px;
    width: 15px;
    height: 300px;
    float: right;

    background-image: url("slider-bar.gif");
    background-repeat: repeat-y;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.zoom-bar .ui-slider-handle {
    background-image: url("slider-handle.gif");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    left: 0;
}

#variant-preview {
    bottom: 1em;
    left: 66%;
    position: absolute;
    overflow: auto;
    right: 0;
    top: 0;
}

.preview-container {
    padding-bottom: 0.5em;
}

img.preview {
    max-width: 100%;
    display: block;
    box-sizing: border-box;
    border: 1px solid black;
}

img.editor {
    width: 100%;
}

.circle {
    width: 75px;
    height: 75px;
    margin-top: -37.5px;
    margin-left: -37.5px;
    background-image: url("crosshair.png");
}

.focuspoint {
    position: absolute;
}

.preview-container.active > .preview {
    border: 1px solid red;
}

/* Cropper has a default background image, which is shown when the *image* is
   moved rather the crop box. However we only allow to move the box. Sadly, the
   Canvas is slightly smaller than the Container, thus the background is
   visible as a "border". So we need to remove it ourselves. */
.cropper-bg {
    background-image: none !important;
}
