#variant-content {
    bottom: 1em;
    position: absolute;
    right: 35%;
    width: 65%;
    top: 0;
}

#variant-inner {
    position: relative;
    display: inline-block;
    width: 100%;
}

#slider {
    width: 100%;
    background-image: url("slider-bar.gif");
    background-repeat: repeat-x;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#slider .ui-slider-handle {
    background-image: url("slider-handle.gif");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#variant-preview {
    bottom: 1em;
    left: 66%;
    position: absolute;
    overflow: auto;
    right: 0;
    top: 0;
}

img.preview {
    max-width: 100%;
    display: block;
}

img.editor {
    width: 100%;
    visibility: hidden;
}

.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    background-color: red;
}

.focuspoint {
    position: absolute;
}

.preview.active {
    border: 3px solid red;
}

/* Cropper has a default background image, which is shown when the *image* is
   moved rather the crop box. However we only allow to move the box. Sadly, the
   Canvas is slightly smaller than the Container, thus the background is
   visible as a "border". So we need to remove it ourselves. */
.cropper-bg {
    background-image: none !important;
}
