#fulltext {
  width: 80%;
  margin-right: .4em;
}

#cp-search .search_result {
  clear: both;
  padding: 1em 0 0 0;
}

.search_result .search_entry {
  margin: 10px;
}

.search_result {
	background-color: #F2F2F2;
}


.toggle_favorited.favorited,
.toggle_favorited.not_favorited {
  margin-right: .8em;
  padding: 0.214em;
}

.search_entry .recent_links {
  float: left;
}

.search_entry .recent_links img {
  margin: 5px;
}

.search_entry .filters {
  display: none;
  font-size: 0.8em;
  margin-bottom: .8em;
}

/* Some solr fields will not be shown in some areas */

#cp-search .search_entry .teaser_text {
  display:none;
}

.search_entry .subtitle {
  display:none;
}

.search_entry .serie {
  display:none;
}


/*------*/


#search_form .search_entry .filters {
  display: block;
  overflow: hidden;
}

.search_entry .filters > a {
  display: block;
  float: left;
  border-left: 1px solid #bbb;
  padding: 0 .5em;
}

.search_entry .filters > a:first-child {
  border: none;
  padding: 0 .5em 0 0;
}


.search_entry .filters > a {
  color: #9BBBD3;
  cursor: pointer;
}


.zeit-find-search .button{
  border-top: 1px solid #ddd;
  clear: both;
  cursor: pointer;
  margin: 1em 0;
  padding-left: 15px;
  background: transparent url(opener.png) no-repeat 0px 5px;
}

#zeit-find-search-form .unfolded {
  background: transparent url(opener_close.png) no-repeat 0px 5px;
}

.search-with-info > .fields {
  margin-bottom: 1em;
}

.search-with-info > .fields > div >  label {
  float: left;
  margin: 0 1em 0 2em;
}


.search-with-info > .fields > div > label.first-child {
  margin: auto;
  width: 8em;
}

.search-with-info > .fields > fieldset {
  margin: 0;
  padding: 0;
  background: none;
  margin-top: 0.5em;
}

.search-with-info > .fields > fieldset > label {
  display: block;
  float:left;
  width: 110px;

}

.search-with-info > .fields > fieldset.reverse > label {
  float: none;
  width: auto;
}


.search-with-info > .fields > fieldset > input {
  width: 178px;
}

.search-with-info > .fields > fieldset.reverse > label > input {
  margin-left: 110px;
}


.search-with-info > .fields > fieldset > select {
  width: 185px;
}

.search-with-info > .fields .likelabel {
  width: 100px;
  float:left;
}

.search-with-info > .fields .date > label {
  display:block;
}

.search-with-info > .fields .date > input {
  display:block;
  width: 80px;
}

.search-with-info > .fields div.date {
  float:left;
  height:35px;
  position:relative;
  margin-left: 10px;
 }

.search-with-info > .fields > div > select,
.search-with-info > .fields > div > input {
  float: left;
}

.search-with-info > .fields > fieldset.types label {
  float: none;
}

.search-with-info > .fields > fieldset.types div.inner {
  float:left;
  width: 170px;
}

.search-with-info > .fields > fieldset.types div.outer {
  margin-top: 5px;
}

.search-with-info > .fields .types > .type-outer > .type-inner {
  overflow: hidden;
}

.search-with-info > .info {
  font-size: 0.8em;
  overflow: hidden;
}

.search-with-info > .info > span {
  display: block;
  float: left;
  font-style: italic;
  margin-left: 1em;
  padding-bottom: 0.25em;
  white-space: nowrap;
}

.search-with-info > .info > span:before {
  font-style: normal;
  padding-right: 0.5em;
}

.search-with-info > .info > .info-from:before {
  content: "ab";
}

.search-with-info > .info > .info-until:before {
  content: "bis";
}

.search-with-info > .info > .info-from +
.info-until {
  /* Smaller margin when we have both from and until. */
  margin-left: 0.5em;
}

.search-with-info > .info > .info-sort_order:before {
  content: "sortiert nach";
}

.search-with-info > .info > .info-types\:list +
.info-types\:list:before {
  content: "/";
  padding-right: 0.25em;
}

.search-with-info > .info > .info-types\:list +
.info-types\:list {
  margin-left: 0.25em;
}


#from,
#until {
  width: 8em;
}

.search-filter > .title {
  font-size: 1em;
}

#filter_topic,
#filter_time,
#filter_type {
  width: 33%;
  float: left;
}

#filter_author {
  clear:both;
}

.search-filter .filter_link {
  cursor: pointer;
  display: block;
  font-size: 0.75em;
  overflow: hidden;
  color: blue;
  white-space: nowrap;
  width: 100%;
}

#filter_author .filter_link_outer {
  width: 33%;
  float: left;

}

#filter_author .filter_link {
  white-space: normal;
}

#cp-search > div[id] {
  bottom: 0;
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 3em;
}

.related_links {
  background: url('arrow_right.png') no-repeat 0 50%;
  clear: right;
  cursor: pointer;
  float:left;
  padding-left: 16px;
}

.zeit-find-search .object-link {
  float: right;
}

.related_links.expanded {
  background: url('arrow_down.png') no-repeat 0 50%;
  cursor: pointer;
}

.toggle_favorited {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 14px;
}


.toggle_favorited.favorited {
  background: transparent url('favorite.png') no-repeat center center;
}

.toggle_favorited.not_favorited {
  background: transparent url('not_favorite.png') no-repeat center center;
}

.related_info {
  margin-top: 3em;
  margin-left: 0.7em;
}

.related_info.busy,
#result_filters.busy {
  min-height: 3em;
}


#cp-search #search_form {
  overflow-y: scroll;
}

.zeit-find-search .search_entry .related_entry {
  padding: 0.5em;
}

.zeit-find-search .search_entry .related_entry:hover {
  /* It needs to be clear that a related can be dragged. Making it yellow for
   * now so someone who knows styling can make it look decent :) */
  background-color: #dddddd;
}

.zeit-find-search .search_entry .related_entry > div {
  clear: both;
}

.zeit-find-search .search_entry .related_entry .content-status,
.zeit-find-search .search_entry .related_entry .taser_text {
  display: none;
}

.zeit-find-search .search_entry .related_entry .supertitle,
.zeit-find-search .search_entry .related_entry .teaser_title {
  display: inline;
  font-weight: normal;
  font-size: 1em;
}



/* search in lightbox styles */

#content > .zeit-find-search #search_result,
.lightbox #search_result {
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 1em;
  width: 66%;
}

.lightbox #search_result {
  left: 1em;
}

#content > .zeit-find-search #zeit-find-search-form,
.lightbox #zeit-find-search-form {
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 1em;
  width: 32%;
}
