.layout-hidden {
  opacity: 0.3;
}

.layout-hidden:hover {
  opacity: 1;
}

.wysiwyg-header .swfupload {
  float: right;
}

.gallery {
  clear: both;
}


.lightbox > .upload {
  margin: 1em;
  padding-left: 2em;
  position: static;
}

.upload > .filename {
  display: inline;
}

.upload.busy {
  background-position: left center;
  opacity: 1;
}

.upload > .progress {
  float: left;
  margin-right: 1em;
  text-align: right;
  width: 3em;
}

.upload > .progress:after {
  content: "%";
  padding-left: 0.25em;
}


table.gallery .image-column {
  text-align: center;
  width: 10em;
  vertical-align: top;
}

table.gallery td {
  padding-bottom: 1.5em;
}

table.gallery tr.layout-hidden {
  display:none;
}  

table.gallery td div.handle {
  background-color: #F2F2F2;
  border: 1px solid #BBBBBB;
  padding: 0.3em;
  padding-left: 0.5em;
  overflow:hidden;
}  

table.gallery td div.box {
  border: 1px solid #BBBBBB;
  border-top: 0px solid black;
  padding:1em;
  overflow:hidden;
}  

table.gallery td div.box div.image {
  width:150px;
  float:left;
}

table.gallery td div.box div.content {
} 

table.gallery .caption {
  padding-bottom: 1em;
}

.gallery-show-image-link:before {
  content: "[";
}

.gallery-show-image-link:after {
  content: "]";
}

.handle a {
  display:block;
  background-repeat:no-repeat;
  width:14px;
  height: 14px;
  float:left;
  margin-right:5px;
}

table.gallery a.edit-image {
  background-image: url("editimage.png");
 }

table.gallery a.cut-image {
  background-image: url("cropimage.png");
 }

table.gallery a.show-image {
  background-image: url("showimage.png");
 }





