name: Build and deploy nightwatch tests

on:
  push:
    branches:
    - main
    paths:
    - '.github/workflows/nightwatch.yaml'
    - 'smoketest/**'
    - '!smoketest/k8s/base/versions/*'
  pull_request:
    paths:
    - '.github/workflows/nightwatch.yaml'
    - 'smoketest/**'
    - '!smoketest/k8s/base/versions/*'

jobs:
  build:
    uses: zeitonline/gh-action-workflows/.github/workflows/nightwatch-build.yaml@4241bed0752a9d591a002a07a1e46dd0514cf951 # 2.10.1
    secrets: inherit
    with:
      environment: staging
      gke_cluster: main-staging-25-01
      k8s_base: smoketest/k8s
      versions: smoketest/k8s/base/versions
      # copy&paste from k8s/base and k8s/staging manifest
      args: |
        --override-type=json --overrides='[
          {"op": "add", "path": "/spec/serviceAccount", "value": "baseproject"},
          {"op": "add", "path": "/spec/containers/0/envFrom", "value": [{"secretRef": {"name": "nightwatch-secrets"}}]},
          {"op": "add", "path": "/spec/containers/0/env", "value": [
            {"name": "TMS_PASSWORD", "valueFrom": {"secretKeyRef": {
              "name": "tms",
              "key": "vivi_zeit.retresco_password"
            }}},
            {"name": "VIVI_XMLRPC_PASSWORD", "valueFrom": {"secretKeyRef": {
              "name": "principals",
              "key": "vivi_zeit.cms.principals_system.nightwatch"
            }}}
          ]}
        ]'

  # deploy happens via flux (on `main` branch)
