name: pre-commit

on:
  push:
    branches:
    - main
  pull_request:

env:
  PROJECT: vivi
  BUILD_URL: "${{github.server_url}}/${{github.repository}}/actions/runs/${{github.run_id}}"

concurrency: precommit_branch_${{github.ref_name}}

jobs:
  pre-commit:
    runs-on: zon-ubuntu-general-dind
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version-file: core/pyproject.toml
    - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: "24"
    - name: Force pre-commit to use the node we just installed
      # I really don't know why pre-commit applies the condition
      # "the exe is not contained in the home directory" when finding binaries,
      # see pre_commit.lang_base.exe_exists()
      run: |
        sudo mkdir -p /opt/node
        sudo ln -s $(which node) /opt/node
        sudo ln -s $(which npm) /opt/node
        echo /opt/node >> $GITHUB_PATH
    - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1

    - uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
      if: failure() && github.ref_name == 'main'
      with:
        method: chat.postMessage
        token: ${{secrets.SLACK_BOT_TOKEN}}
        payload: |
          channel: "${{secrets.SLACK_TEAM_CONTENT_CHANNEL_ID}}"
          text: ":small_red_triangle_down: <${{env.BUILD_URL}}|${{env.PROJECT}}> tests failed"
