name: Testrunner

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    # XXX GHA unfortunately does not support randomize, so https://xkcd.com/221/
    - cron: "22 4 * * *"

env:
  project: vivi
  build_url: "${{github.server_url}}/${{github.repository}}/actions/runs/${{github.run_id}}"
  team_content_alerts: C06JB4PMALW

concurrency: test_branch_${{github.ref_name}}

jobs:
  test:
    runs-on: zon-ubuntu-general-dind
    permissions:
      contents: read
      checks: write
      id-token: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: determine deployment branch
        run: |
            if [[ "${{github.ref_name}}" = "main" ]]; then
                branch="main"
            else
                branch=$(awk -F= '/DEPLOYMENT_BRANCH *=/ { gsub(/ /, "", $2); printf $2 }' <<'EOF'
            ${{github.event.pull_request.body}}
            EOF
                )
                if [[ -z "$branch" ]]; then
                    branch=main
                fi
            fi
            echo "DEPLOYMENT_BRANCH=$branch" >> $GITHUB_ENV
      - name: checkout deployment
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: ZeitOnline/vivi-deployment
          ref: ${{env.DEPLOYMENT_BRANCH}}
          path: deployment
          # Has been added manually (both the key in vivi-deployment and
          # the GHA secret in vivi)
          ssh-key: ${{secrets.DEPLOY_KEY_DEPLOYMENT}}
      - uses: ZeitOnline/gh-action-baseproject@v0
        with:
          project_name: ${{env.project}}
          environment: staging
          gar_docker_auth: true  # for docker pull dav-server
          google_auth: true  # for pypi-zon download
          vault_export_token: true

      - name: checkout vivi
        run: |
            mkdir -p deployment/work/source
            ln -s $PWD deployment/work/source/vivi

      - run: |
          uv_version=$(sed -ne '/astral-sh\/uv:/s+^.*astral-sh/uv:\([^@]*\).*$+\1+p' deployment/components/docker/Dockerfile)
          echo "UV_VERSION=$uv_version" >> $GITHUB_ENV
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          # renovate: datasource=github-tags depName=python/cpython extractVersion=^v?(?<version>.+)$
          python-version: "3.13.7"
      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867  # v7.1.6
        with:
          version: ${{env.UV_VERSION}}
          enable-cache: true
          cache-dependency-glob: |
              deployment/components/source/*.txt
      - name: setup apt
        # firefox dependencies see https://github.com/microsoft/playwright/blob/main/packages/playwright-core/src/server/registry/nativeDeps.ts
        # gcc for e.g. `pygraphviz`
        run: |
            export DEBIAN_FRONTEND=noninteractive
            sudo apt-get update
            sudo apt-get -y install --no-install-recommends \
                libasound2 libatk1.0-0 libcairo-gobject2 libcairo2 libdbus-1-3 libdbus-glib-1-2 libfontconfig1 libfreetype6 libgdk-pixbuf-2.0-0 libglib2.0-0 libgtk-3-0 libpango-1.0-0 libpangocairo-1.0-0 libx11-6 libx11-xcb1 libxcb-shm0 libxcb1 libxcomposite1 libxcursor1 libxdamage1 libxext6 libxfixes3 libxi6 libxrandr2 libxrender1 libxtst6 \
                build-essential graphviz-dev \
                pandoc
      - uses: browser-actions/setup-firefox@5914774dda97099441f02628f8d46411fcfbd208 # v1.7.0
      - name: setup geckodriver
        run: |
          curl -fsSL https://github.com/mozilla/geckodriver/releases/download/v0.34.0/geckodriver-v0.34.0-linux64.tar.gz \
          | tar -xzv geckodriver && sudo mv geckodriver /usr/local/bin/geckodriver

      - name: ./batou deploy gha
        run: |
            cd deployment
            ./batou deploy gha
      - name: test local server process
        run: |
          health=$(curl -w "%{http_code}" --unix-socket deployment/work/zope/zope.sock http://localhost/@@health-check)
          if [[ "$health" != "OK200" ]]; then
              exit 1
          fi
      - name: display log output
        if: failure()
        run: |
          for i in deployment/work/supervisor/var/log/*.log; do
              echo $i
              cat $i
          done

      - name: bin/test
        run: |
            # `pendulum` requires local timezone configuration
            export TZ="Europe/Berlin"

            if [[ "${{github.event_name}}" = "schedule" ]]; then
                not_selenium='not selenium'
            else
                not_selenium='not selenium and not integration'
            fi

            set +e
            deployment/bin/test -v -n 6 -m "$not_selenium" -r a \
                --junitxml=report.xml --cov=. --cov-report=
            result=$?

            deployment/bin/test -v -n 4 -m 'selenium' --reruns=3 -r aR \
                --junitxml=report_selenium.xml --cov=. \
                --cov-append --cov-report=html
            selenium=$?

            if [[ "$result" = "0" ]]; then
                result=$selenium
            fi
            exit $result

      - name: Publish test result
        uses: enricomi/publish-unit-test-result-action@27d65e188ec43221b20d26de30f4892fad91df2f # v2.22.0
        if: always()
        with:
          comment_mode: "off"
          files: "deployment/work/source/report*.xml"

      - name: Publish coverage
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        id: coverage
        with:
          name: coverage-${{env.project}}
          path: deployment/work/source/coverage-report
          if-no-files-found: ignore
      - name: Annotate coverage
        uses: louisbrunner/checks-action@6b626ffbad7cc56fd58627f774b9067e6118af23 # v2.0.0
        with:
          token: ${{secrets.GITHUB_TOKEN}} # unfortunately required
          name: Coverage Report
          conclusion: success
          output: |
              {"summary": "[Download](${{env.build_url}}/artifacts/${{steps.coverage.outputs.artifact-id}})"}

      - uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        if: failure() && github.ref_name == 'main' && github.event_name != 'schedule'
        with:
          method: chat.postMessage
          token: ${{secrets.SLACK_BOT_TOKEN}}
          payload: |
            channel: "${{env.team_content_alerts}}"
            text: ":small_red_triangle_down: <${{env.build_url}}|${{env.project}}> tests failed"
