table.objectlog {
    border-collapse: collapse;
}

table.objectlog th {
    background-color: #f8f9fd;
    color: #9bbbd3;
    font-weight: bold;
    padding-bottom:1em;
}

table.objectlog td {
    padding-bottom: 8px;
    vertical-align: top;
    height:auto;
    white-space: nowrap;
}

table.objectlog tr td:nth-child(1) {
    padding-right: 10em;
}

table.objectlog tr td:nth-child(2) {
    padding-right: 2em;
}

table.objectlog td.principal:before {
    content: " von ";
    color: #999999;
}
