table.objectlog {
    border-collapse: collapse;
    width: 100%;
}

table.objectlog th {
    border-top: 1px solid #999999;
    background-color: #f8f9fd;
    color: #9bbbd3;
    font-weight: bold;
}

table.objectlog td {
    padding-bottom: 8px;
    vertical-align: top;
}

table.objectlog tr td:nth-child(1) {
    width: 70%;
}

table.objectlog td.principal, table.objectlog td:nth-child(2) {
    white-space: nowrap;
    text-align: right;
}

table.objectlog td.principal:before {
    content: " von ";
    color: #999999;
}
